html, body {
  margin: 0;
  padding: 0;
}
#main.ready {
  animation: slidein .25s ease-in-out;
}
.closer {
  display: none;
}
.closer::after {
  content: "\bb";
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-y: auto;
  background: rgba(255, 2555, 255, 0.7)
}
li {
  position: relative;
  user-select: none;
  border: 1px solid silver;
  padding: 0.3em 0;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
}
li:not(:first-child) {
  /* margin-top: -1px; */
}
.draggable-list-dragging li {
  transition: transform .25s ease-in-out;
  z-index: 1;
}
li.draggable-list-target {
  transition: none;
  z-index: 100;
  position: relative;
}
.dragger::before {
  content: "\2261"
}
.dragger {
  padding: 0.6em;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
