.injection-order {
  > div {
    height: 100%;
    max-width: 80vw;
  }
  #incremental-search {
    transform: scaleY(.55);
    transform-origin: top;
  }
  :is(#message-box-contents, section) {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  & section[data-main] {
    flex: 1 0;
  }
  & header {
    padding: 1rem;
    width: 0;
    min-width: 100%;
    box-sizing: border-box;
  }
  & ol {
    padding: 0;
    margin: 0;
    font-size: 14px;
    overflow-y: auto;
  }
  & ol:empty {
    display: none;
  }
  [data-prio] {
    & header {
      background-color: hsla(40, 80%, 50%, 0.4);
    }
    height: min-content;
    min-height: 2em;
    max-height: 50%;
  }
  .draggable-list-target {
    position: relative;
    background: lightcyan;
    transition: none;
    z-index: 100;
  }
}
.injection-order-entry {
  display: flex;
  justify-content: space-between;
  position: relative; /* for incremental-search */
  padding: 1px 1px 1px 1rem; /* keyboard focus outline */
  color: var(--fg);
  z-index: 1;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
  & a {
    text-decoration: none;
    &[href] {
      padding: .4em 0;
      cursor: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.enabled a[href] {
    font-weight: bold;
  }
}
.injection-order-toggle {
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  cursor: pointer;
  opacity: .5;
  transition: .15s;
  &::after {
    content: '\2606';
    font-size: 20px;
    line-height: 1;
    transition: .15s;
  }
  .injection-order-entry:hover & {
    opacity: 1;
  }
  [data-prio] &::after {
    content: '\2605';
  }
  &:hover::after {
    color: hsl(30, 80%, 50%);
  }
}
.injection-order [data-prio] header,
.injection-order :is(ol, #message-box-buttons),
.injection-order-entry:nth-child(n + 2) {
  border-top: 1px solid rgba(128, 128, 128, .25);
}
