body {
  margin: 0;
  font: 12px arial, sans-serif;
}

a {
  color: #000;
  transition: color .5s;
  text-decoration-skip: ink;
}

a:hover {
  color: #666;
}

#header {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 15px;
  border-right: 1px dashed #AAA;
  -webkit-box-shadow: 0 0 50px -18px black;
  overflow: auto;
  box-sizing: border-box;
}

#header h1 {
  margin-top: 0;
}

#installed {
  position: relative;
  margin-left: 280px;
}

.entry {
  margin: 0;
  padding: 1.25em 2em;
  border-top: 1px solid #ddd;
}

.entry:first-child {
  border-top: none;
}

.svg-icon {
  cursor: pointer;
  vertical-align: middle;
  transition: fill .5s;
  width: 20px;
  height: 20px;
  fill: #000;
}

.svg-icon:hover {
  fill: #666;
}

.svg-icon.delete {
  width: 16px;
  height: 16px;
}

.homepage {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.homepage .svg-icon {
  margin-top: -4px;
  margin-left: .5ex;
}

.style-name {
  margin-top: .25em;
  word-break: break-word;
}

.style-name a, .style-edit-link {
  text-decoration: none;
}

.style-name-link:hover {
  text-decoration: underline;
  color: #000;
}

.applies-to {
  word-break: break-word;
}

.applies-to,
.actions {
  padding-left: 15px;
  margin-bottom: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actions > * {
  margin-bottom: .25rem;
}

.actions > *:not(:last-child) {
  margin-right: .25rem;
}

.applies-to label {
  margin-right: .5ex;
}

.applies-to .target:hover {
  background-color: rgba(128, 128, 128, .15);
}

.applies-to-extra:not([open]) {
  display: inline;
  margin-left: 1ex;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

.applies-to-extra summary {
  list-style-type: none; /* for FF, allegedly */
}

.applies-to-extra summary::-webkit-details-marker {
  display: none;
}

.disabled h2::after {
  content: " (__MSG_genericDisabledLabel__)";
}

.disabled {
  opacity: 0.5;
}

.disabled .disable {
  display: none;
}

.enabled .enable {
  display: none;
}

/* compact layout */

.newUI {
  display: table;
  margin: .75rem 0 .75rem 0;
}

.newUI .disabled {
  opacity: 1;
}

.newUI .disabled .style-name,
.newUI .disabled .applies-to {
  opacity: .5;
}

.newUI .entry {
  display: table-row;
}

.newUI .entry:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.05);
}

.newUI .entry > * {
  padding: .9rem 0 1rem;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.newUI .checker {
  position: relative;
  top: 1px;
  margin-right: 1ex;
}

.newUI .style-name {
  font-size: 14px;
  font-family: sans-serif;
  text-indent: -2em;
  padding-left: 3em;
  padding-right: 30px;
}

.newUI .homepage .svg-icon {
  position: absolute;
  margin-top: 0;
  margin-left: -28px;
}

.newUI .actions {
  width: 60px;
  height: 20px;
  white-space: nowrap;
  font-size: 0;
}

.newUI .actions > * {
  margin: 0;
}

.newUI .actions .svg-icon {
    margin-right: 8px;
}

.newUI .updater-icons > * {
  transition: opacity 1s;
  display: none;
}

.newUI .checking-update .check-update {
  opacity: 0;
  display: inline;
  pointer-events: none;
}

.newUI .can-update .update,
.newUI .no-update:not(.update-problem) .up-to-date,
.newUI .no-update.update-problem .check-update,
.newUI .update-done .updated {
  display: inline;
}

.update-problem .check-update svg {
  fill: darkred;
}

.newUI .applies-to {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.newUI .targets {
  overflow: hidden;
}

.newUI .applies-to.expanded .targets {
  max-height: 100vh;
}

.newUI .target {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100vw - 280px - 60px - 25vw - 3rem);
  box-sizing: border-box;
  padding-right: 1rem;
  line-height: 18px;
}

.newUI .applies-to .expander {
  margin: 0;
  cursor: pointer;
  font-size: 3ex;
  line-height: .5ex;
  vertical-align: super;
  letter-spacing: .1ex;
}

.newUI.has-favicons .target {
  padding-left: 20px;
}

.newUI .target:hover {
  background-color: inherit;
}

.newUI .target img {
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin-left: -20px;
  margin-right: 4px;
  transition: opacity .5s, filter .5s;
  /* unprefixed since Chrome 53 */
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .25;
  display: none;
}

.newUI.has-favicons .target img[src] {
  display: inline;
}

.newUI .entry:hover .target img {
  opacity: 1;
  /* unprefixed since Chrome 53 */
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#newUIoptions {
  display: none;
}

.newUI #newUIoptions {
  display: initial;
}

#newUIoptions label {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

#newUIoptions input[type="number"] {
  width: 3em;
  margin-right: .5em;
}

input[id^="manage.newUI"] {
  margin-left: 0;
}

/* Default, no update buttons */
.update,
.check-update {
  display: none;
}

/* Check update button for things that can*/
*[style-update-url] .check-update {
  display: inline;
}

/* Update check in progress */
.checking-update .check-update {
  display: none;
}

/* Updates available */
.can-update .update {
  display: inline;
}

.can-update .check-update {
  display: none;
}

/* Updates not available */
.no-update .check-update {
  display: none;
}

/* Updates done */
.update-done .check-update {
  display: none;
}

/* highlight updated/added styles */
.highlight {
  animation: highlight 10s cubic-bezier(0,.82,.47,.98);
}

@keyframes highlight {
  from {
    background-color: rgba(128, 128, 128, .5);
  }
  to {
    background-color: none;
  }
}

.hidden {
  display: none
}

fieldset {
  border-width: 1px;
  border-radius: 6px;
  margin: 1em 0;
}

.enabled-only > .disabled,
.edited-only > [style-update-url] {
  display: none;
}

#search {
  width: calc(100% - 4px);
  margin: 0.25rem 4px 0;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  border-width: 1px;
}

#import ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#import li {
  margin-bottom: .5em;
}

#import pre {
  background: #eee;
  overflow: auto;
  margin: 0 0 .5em 0;
}

/* drag-n-drop on import button */
.dropzone:after {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  padding: calc(50vh - 3em) calc(50vw - 5em);
  content: attr(dragndrop-hint);
  text-shadow: 1px 1px 10px black;
  font-size: xx-large;
  text-align: center;
  animation: fadein 1s cubic-bezier(.03, .67, .08, .94);
  animation-fill-mode: both;
}

.fadeout.dropzone:after {
  animation: fadeout .25s ease-in-out;
  animation-fill-mode: both;
}

/* post-import report */
#message-box details:not([data-id="invalid"]) div:hover {
  background-color: rgba(128, 128, 128, .3);
}

#message-box details:not(:last-child) {
    margin-bottom: 1em;
}

#message-box details small div {
    margin-left: 1.5em;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein-25pct {
  from {
    opacity: 0;
  }
  to {
    opacity: .25;
  }
}

@media (max-width: 675px) {
  #header {
    height: auto;
    position: static;
    width: auto;
    border-right: none;
    border-bottom: 1px dashed #AAA;
  }

  #installed {
    position: static;
    margin-left: 0;
    overflow: visible;
  }

  #header h1,
  #header h2,
  #header h3,
  #backup-message {
    display: none;
  }

  #header p,
  #header fieldset div,
  #backup {
    display: inline-block;
  }

  #find-editor-styles {
    display: inline-block;
  }

  #backup {
    margin-right: 1em;
  }

  #backup p,
  #header fieldset {
    margin: 0;
  }

  .entry {
    margin: 0;
  }
}
