body {
  margin: 0;
  font: 12px arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.header {
  width: 280px;
  padding: 15px;
  border-right: 1px dashed #aaa;
  box-shadow: 0 0 50px -18px black;
}

.header h1:first-child {
  margin-top: 0;
}

h1 small {
  font-size: 0.6em;
}

.meta-version::before {
  content: " v";
}

.warning {
  padding: 3px 6px;
  border: 1px dashed black;

  border-color: #ef6969;
  background: #ffe2e2;
}

.header .warning {
  margin: 3px 0;
}

.actions {
  margin: 15px 0;
}

.live-reload {
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  align-items: center;
  margin: 0.5em auto;
}

.live-reload input {
  margin: 0 0.5em 0 0;
}

.external {
  text-align: center;
}

.external > * {
  margin: 0 7.5px;
}

button.install {
  display: block;
  margin: 0 auto;
  font-size: 2em;
  padding: 0.4em 0.8em;
}

button.install {
  background: #3586FF;
  color: white;
  border-radius: 0.2em;
  border: 1px solid #0026ff;
}

button.install:not([disabled]):active {
  box-shadow: inset 0px 0px 0.4em 0px #6A3B82;
}

button.install.installed {
  background: #00F587;
  border-color: #00ae08;
}

.code {
  padding: 2em;
  font-family: monospace;
  white-space: pre-wrap;
}

.main {
  flex-grow: 1;
}
