html, body {
  margin: 0;
  padding: 0;
}
ol {
  list-style: none;
  margin: 0;
  padding: .75rem 0;
  font-size: 16px;
  overflow-y: auto;
  background: rgba(255, 2555, 255, 0.7)
}
li {
  position: relative;
  user-select: none;
  padding: 0.3em .5em;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
}
li:not(:first-child) {
  border-top: 1px solid rgba(128, 128, 128, .25);
}
.draggable-list-dragging li {
  transition: transform .25s ease-in-out;
  z-index: 1;
}
li.draggable-list-target {
  transition: none;
  z-index: 100;
  position: relative;
}
.dragger::before {
  content: "\2261"
}
.dragger {
  padding: 0.6em;
}
