#message-box.injection-order > div {
  height: 100%;
  width: 40em;
  max-width: 80vw;
}
#message-box.injection-order #message-box-contents {
  padding: 0;
  overflow: hidden;
}
.injection-order header {
  padding: 1rem 1rem 0;
  content: attr(data-hint);
}
.injection-order ol {
  height: 100%;
  padding: 0;
  font-size: 14px;
  overflow-y: auto;
}
.injection-order a {
  display: block;
  user-select: none;
  padding: 0.3em .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: move;
  color: #000;
  text-decoration: none;
}
.injection-order a.enabled {
  font-weight: bold;
}
.injection-order a:active {
  background: white;
}
.injection-order a:hover {
  text-decoration: underline;
}
.injection-order a:not(:first-child) {
  border-top: 1px solid rgba(128, 128, 128, .25);
}
.injection-order a::before {
  content: "\2261";
  padding: 0.6em;
  font-weight: normal;
}
.injection-order .draggable-list-dragging a {
  transition: transform .25s ease-in-out;
  z-index: 1;
}
.injection-order a.draggable-list-target {
  transition: none;
  z-index: 100;
  position: relative;
}
