@import './edit-vars.css';

@media screen and (max-width: 850px), compact {
  .usercss body {
    display: flex;
    flex-direction: column;
  }
  .usercss #header,
  #header:not(.sticky) {
    position: static;
  }
  #header {
    flex: 0;
    height: unset;
    width: unset;
    overflow: visible;
    border-right: none;
    border-bottom: 1px dashed var(--c65);
    padding: $pad05;
    .popup-window & {
      padding-right: 32px;
    }
    flex-flow: row;
    align-items: center;
    align-content: start;
    gap: $pad05 $pad;
    &.sticky {
      box-shadow: 0 0 3rem -.75rem;
      #preview-errors {
        position: absolute;
        top: $pad05;
        right: $pad05;
        margin: $pad025 0 0 !important;
      }
    }
    details > :not(summary) {
      margin-left: 0;
    }
    summary::marker {
      content: none;
    }
    h2 {
      font-size: 14px;
    }
    [data-icon] {
      font-size: 0;
      &::after {
        content: attr(data-icon);
        font: 16px/1 icons;
      }
    }
    button {
      height: var(--input-height); /* some buttons may be icons */
    }
  }
  #header.sticky .hide-if-sticky,
  #heading {
    display: none;
  }
  #basic-info {
    flex: 100;
  }
  #actions {
    display: flex;
    gap: $pad05;
    .buttons {
      flex-wrap: nowrap;
    }
  }
  #details-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    gap: $pad05;
    > details {
      padding: 4px;
      border: 1px solid transparent;
    }
    > details[open] {
      z-index: 50;
      background: var(--bg);
      border-color: var(--c80);
      &:hover, &:focus-within {
        z-index: 51;
      }
      > summary {
        color: var(--accent-1);
        + * {
          position: absolute;
          overflow: hidden auto;
          max-height: var(--max-height, 25vh);
          max-width: calc(100vw - 2 * $pad);
          background: var(--bg);
          box-shadow: 0 6px 20px rgba(0, 0, 0, .3);
          padding: $pad;
        }
      }
    }
  }
  #options > main {
    display: flex;
    flex-wrap: wrap;
    > :first-child {
      margin: 0 1em 0 0;
    }
    > :nth-child(n + 2) {
      margin: 0;
    }
  }
  @media (max-height: 500px) {
    #details-wrapper {
      --max-height: 50px;
    }
  }
  #toc,
  .lint-report-container {
    max-width: 50vw;
  }
  #publish[open],
  #lint:not([open]) {
    flex: 0 0 auto;
    overflow-x: hidden;
  }
  #publish dd {
    white-space: normal;
    max-height: 1.25em;
  }
  #sections {
    padding: 0;
  }
  .section {
    padding: $pad05;
  }
  .single-editor {
    overflow: hidden;
    flex: 1;
  }
}
