/* postcss-simple-vars */
.settings {
  &.dirty > summary > ::after {
    content: ' *';
  }
  > main {
    > * {
      display: block;
      margin: 1rem 0;
      padding: 0;
    }
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  input:disabled ~ label {
    opacity: .5;
  }
  .w100 {
    display: block;
    width: 100%;
    margin-top: .25em;
    box-sizing: border-box;
  }
  textarea {
    $height: 1.75em;
    resize: vertical;
    min-height: $height;
    max-height: 50vh;
    white-space: pre;
    &:placeholder-shown {
      resize: none;
      height: 1.75em;
      &:not(:focus) {
        background: none;
        border: transparent;
      }
    }
  }
  .compact-layout & .radio-wrapper {
    display: inline-flex;
    padding: 0 .8em 0 0;
  }
  a[data-cmd=note] {
    vertical-align: text-bottom;
  }

  /* editor settings */
  > main > section:not(.aligned) > * {
    display: flex;
    align-items: center;
    margin: 0;
    padding: .15em 0;
  }
}
/* any aligned settings */
section.aligned {
  > * {
    display: table-row;
  }
  > * > :not(.icon) {
    display: table-cell;
    margin-top: 0.1rem;
    min-height: 1.4rem;
  }
  label {
    padding: .1rem .25rem 0 0;
    vertical-align: middle;
  }
  input[type="number"] {
    width: 3.5em;
    text-align: left;
    padding-left: .25em;
  }
}
