html.opera {
  text-align: center;
}

html.opera body {
  display: inline-block;
  text-align: initial;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  width: calc(16px + 100px + 8px + 240px + 8px + 80px + 4px + 16px);
}

.firefox .chromium-only {
  display: none;
}

.block {
  display: flex;
  align-items: center;
  margin: 1em 0;
  border-bottom: 1px dotted #ccc;
  padding: 0 0 1em 16px;
}

.block:last-child {
  border-bottom: none;
  padding-bottom: 4px;
}

h1 {
  width: 100px;
  margin: 0;
  font-size: 120%;
  font-weight: bold;
  padding-right: 8px;
}

label {
  display: block;
  white-space: nowrap;
  margin: .25ex 0;
}

label > * {
  display: inline-block;
  vertical-align: middle;
}

label > :first-child {
  width: 240px;
  white-space: normal;
  margin-right: 8px;
}

label:not([disabled]) > :first-child {
  cursor: default;
}

label:not([disabled]):hover > :first-child {
  text-shadow: 0 0 0.01px rgba(0, 0, 0, .25);
}

button,
input[type=number],
input[type="color"],
.onoffswitch {
  width: 80px;
  box-sizing: border-box;
}

a {
  text-decoration-skip: ink;
}

button {
  text-align: center;
}

input[type=number] {
  text-align: right;
}

input[type=number]:invalid {
  background-color: rgba(255, 0, 0, 0.1);
  color: darkred;
}

#notes {
  background-color: #f4f4f4;
  padding: 1.5ex 16px 1ex calc(16px + 2ex);
  font-size: 90%;
  color: #999;
}

#notes ol {
  margin: 0;
  padding: 0;
}

#notes li:not(last-child) {
  margin-bottom: 1ex;
}

input[type="color"] {
  box-sizing: border-box;
  height: 2em;
}

#notes a {
  color: inherit;
}

#notes a:hover {
  color: black;
}

@keyframes fadeinout {
  0%   { opacity: 0 }
  10%  { opacity: 1 }
  25%  { opacity: 1 }
  100% { opacity: 0 }
}

/* On/Off FlipSwitch https://proto.io/freebies/onoff/ */

.onoffswitch {
  position: relative;
  margin: 1ex 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 12px;
  padding: 0;
  line-height: 12px;
  border: 0 solid #E3E3E3;
  border-radius: 12px;
  background-color: #E0E0E0;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1);
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 18px;
  margin: -3px;
  background: #efefef;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border-radius: 18px;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.4);
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #CAEBE3;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #CAEBE3;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
  background-color: #04BA9F;
  box-shadow: 3px 6px 18px 0 rgba(0, 0, 0, 0.2);
}
