:root {
  --slider-color: hsla(0, 0%, 50%, .35);
  --slider-color-on: hsl(180, 50%, 40%, .33);
  --slider-shadow-hsl: 180, 50%, 10%;
  --slider-knob-shadow: 2px 2px 4px 1px hsl(180, 90%, 5%, .4);
}
:root[data-ui-theme="dark"] {
  --slider-color: hsla(0, 0%, 50%, 0.6);
  --slider-color-on: hsl(180, 50%, 60%, .3);
}
.slider {
  --width: calc(var(
  --value-cell-w) * .6);
  --knob: 15px;
  --pad: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  flex-basis: var(--width);
  width: var(--width);
  height: calc(var(--knob) - 2 * var(--pad));
  border-radius: var(--knob);
  background: var(--slider-color);
  box-shadow: inset 1px 1px 2px hsl(var(--slider-shadow-hsl), .5);
  transition: box-shadow .25s;
  display: inline-flex;
  align-items: center;
  color: var(--bg);
  margin-left: calc(-.5 * var(--pad));
}
.slider::after {
  content: "";
  display: inline-block;
  width: var(--knob);
  height: var(--knob);
  border-radius: 100%;
  box-shadow: var(--slider-knob-shadow);
  margin: 0 calc(-1 * var(--pad));
  background: currentColor;
  border: 1px solid var(--slider-color);
  box-sizing: border-box;
}
.slider:checked {
  background-color: var(--slider-color-on);
  justify-content: flex-end;
  color: var(--accent-2);
}
.slider:checked::after {
  border-color: hsla(var(--slider-shadow-hsl), .25);
}
.slider:hover {
  box-shadow: inset 1px 1px 3px hsl(var(--slider-shadow-hsl));
}
