html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: none;
  --value-cell-w: 53px; /* 48px for three img in `iconset` + padding */
}

body {
  background: none;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 800px;
  max-height: calc(100vh - 32px);
  border: 1px solid var(--c60);
  box-shadow: 0px 5px 15px 3px hsla(0, 0%, 0%, .35);
  animation: scalein .25s ease-in-out;
}

body.scaleout {
  animation: scaleout .25s ease-in-out;
}

#options {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.options-wrapper {
  overflow-y: auto;
}

a {
  color: var(--fg);
  transition: color .5s;
}

a:hover {
  color: var(--c40);
}

a:hover i,
i:hover {
  color: var(--fg);
}

.clickable {
  text-decoration: underline dotted;
  cursor: pointer;
}

#options-close-icon i {
  color: var(--c40);
  transition: color .5s;
}

#options-close-icon:hover i {
  color: var(--fg);
}

#options-close-icon {
  display: inline-flex;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
}

#options-close-icon i {
  height: 20px;
  width: 20px;
}

#options-title {
  font-weight: bold;
  background-color: var(--accent-3);
  padding: .75rem 26px .75rem calc(30% + 4px);
  font-size: 22px;
  letter-spacing: .5px;
  position: relative;
  min-height: 42px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--c40);
}

#options-title::before {
  content: "";
  width: 0;
  height: 0;
  padding: 0 32px 32px 0;
  background: url(/images/icon/32.png);
  position: absolute;
  left: 26px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.firefox .chromium-only,
.chromium-only.chrome-no-popup-border {
  display: none;
}
label.chromium-only > :first-child::after {
  content: '(Chrome)';
  color: var(--c50);
  margin-left: .5ex;
}

.block {
  display: flex;
  align-items: center;
  margin: 1em 0;
  border-bottom: 1px dotted var(--c80);
  padding: 0 16px .75em;
  position: relative;
}

.options-wrapper .block:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

h1 {
  flex: 0 0 8em;
  margin: 0;
  font-size: 120%;
  font-weight: bold;
  padding-right: 8px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.items {
  width: 100%;
}
.no-stretch {
  width: 0;
  flex: auto;
}
label {
  display: flex;
  align-items: center;
}
.items:not(.no-stretch) label > :first-child {
  margin-right: 8px;
  flex-grow: 1;
}
.items.swap label {
  min-height: var(--input-height);
}
.items.swap label > :first-child {
  order: 2;
  margin-right: 0;
}
.items.swap input:not([type=number]):not([type=radio]) {
  margin-right: calc(var(--value-cell-w) - var(--width));
}
.radio-wrapper + span {
  margin: 0 calc(3 * 16px - var(--value-cell-w) + 5px) 0 -2px;
  width: var(--value-cell-w);
}
input[type="number"] {
  width: var(--value-cell-w);
  text-align: right;
  border: none;
  padding: 0;
}
input[type="color"] {
  width: var(--value-cell-w);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 4px 0 0 0;
  border: 1px solid var(--c65);
  border-radius: 2px;
  height: var(--input-height);
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type=time] {
  margin: 0 .5em;
  max-width: 7em; /* TODO: remove when strict_min_version >= 57 */
}
.slider,
input[type=color] {
  --width: calc(var(--value-cell-w) * .75);
  width: var(--width);
}
.slider {
  margin-left: calc(-.25 * var(--pad));
}

#actions {
  justify-content: center;
  padding: .5em 1em 1em;
  background-color: rgba(0, 0, 0, .05);
  margin: 0;
  border-top: 1px solid var(--c60);
  border-bottom: none;
}

#actions button {
  margin: .5em 1em 0 0;
}

[data-cmd="check-updates"] button {
  position: relative;
}
[data-cmd="note"] {
  padding-left: .25em;
  cursor: pointer;
}

a.icon > i {
  pointer-events: none;
  font-size: 16px;
  color: var(--c40);
  vertical-align: sub;
}

a.icon:hover > i {
  color: var(--fg);
}

#message-box.note {
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
}

#message-box.note > div {
  max-width: 40em;
  top: unset;
  right: unset;
  position: relative;
}

.sync-status {
  width: 0; /* together with flex-grow makes it reuse the current width */
  flex-grow: 1;
  padding-left: 1em;
  box-sizing: border-box;
}
.sync-status::first-letter {
  text-transform: uppercase;
}
[data-drive="webdav"] {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
[data-drive="webdav"] td:nth-child(1) {
  padding: 1px .5em 1px 0;
  max-width: 10em;
  overflow-wrap: break-word;
}
[data-drive="webdav"] td:nth-child(2) {
  padding: 1px 0;
  width: 100%;
}
[data-drive="webdav"] input {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
}
.sync-options:not([data-enabled]) .actions {
  display: none;
}
.sync-options .actions button {
  margin-top: .5em;
}

@keyframes scalein {
  0% {
    transform: scale3d(.3, .3, .3);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scaleout {
  100% {
    transform: scale3d(0, 0, 0);
  }
}
