body {
  margin: 0;
  font: 12px arial, sans-serif;
  background: white;
}

a {
  color: #000;
  transition: color .5s;
  text-decoration-skip: ink;
}

a:hover {
  color: #666;
}

img.icon,
svg.icon {
  height: 1.4em;
  vertical-align: middle;
}

.container {
  display: flex;
  height: 100vh;
  align-items: stretch;
}

.header {
  flex: 0 0 280px;
  box-sizing: border-box;
  padding: 15px;
  border-right: 1px dashed #aaa;
  box-shadow: 0 0 50px -18px black;
  overflow-wrap: break-word;
  overflow: auto;
}

.header > :first-child {
  margin-top: 0;
}

h1 small {
  font-size: 0.6em;
}

.meta-version::before {
  content: " v";
}

.warning {
  padding: 3px 6px;
  border: 1px dashed #ef6969;
  background: #ffe2e2;
}

.header .warning {
  margin: 3px 0;
}

.actions {
  margin: 15px 0;
}

.actions label {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.install {
  padding: 1ex 1em;
  font-weight: bold;
  margin-bottom: 1ex;
}

.actions label input {
  margin: 0 0.5em 0 0;
  flex: 0 0 auto;
}

.actions label span {
  min-width: 0;
}

.external {
  text-align: center;
}

.external > * {
  margin: 0 7.5px;
}

li {
  margin-left: -2em;
}

.code {
  padding: 2em;
}

.main {
  flex: 1 1 auto;
  overflow: hidden;
  overflow-wrap: break-word;
  min-width: 0;
  display: flex;
}

.main > :first-child {
  flex: 0 0 auto;
}

.main > :last-child {
  flex: 1 1 auto;
  min-height: 0;
}

.main .code,
.main .CodeMirror {
  height: 100%;
}

/************ reponsive layouts ************/
@media (max-width:7.5in) {
  .container {
    flex-direction: column;
  }
  .header {
    flex-basis: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    border-right: none;
    border-bottom: 1px dashed #AAA;
    z-index: 2;
  }
  .main {
    padding-left: 0;
  }
  .code {
    padding: 0;
  }
}
