html {
  height: 100vh;
  min-height: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  background-color: #555;
  box-sizing: border-box;
  border: 2vw solid black;
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  hyphens: auto;
}

body {
  margin: 2em;
  color: white;
  max-width: 20em;
}

div {
  color: antiquewhite;
}
