#message-box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  animation: fadein .25s ease-in-out;
  z-index: 9999990;
  pointer-events: auto;
  -moz-user-select: none;
}

#message-box > div {
  top: 3rem;
  right: 3rem;
  min-width: 10rem;
  max-width: 50vw;
  min-height: 5rem;
  max-height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.225);
  z-index: 9999991;
  -moz-user-select: text;
}

#message-box.fadeout {
  animation: fadeout .25s ease-in-out;
}

#message-box.center {
  align-items: center;
  justify-content: center;
}

#message-box.center #message-box-contents {
  text-align: center;
}

#message-box.center #message-box-contents pre {
  text-align: left;
}

#message-box.center > div {
  top: unset;
  right: unset;
}

#message-box.pre #message-box-contents {
  white-space: pre-line;
  font-family: monospace;
  text-align: left;
}

#message-box-title {
  font-weight: bold;
  background-color: rgb(145, 208, 198);
  padding: .75rem 24px .75rem 52px;
  font-size: 1rem;
  position: relative;
  min-height: 42px;
  box-sizing: border-box;
}

#message-box-title::before {
  content: "";
  width: 0;
  height: 0;
  padding: 0 32px 32px 0;
  background: url(/images/icon/32.png);
  position: absolute;
  left: .5rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

#message-box.danger #message-box-title {
  background-color: firebrick;
  color: white;
}

#message-box.danger #message-box-title::before {
  background: url('/images/icon/32x.png');
}

#message-box.danger #message-box-contents {
  font-weight: bold;
}

#message-box.danger #message-box-close-icon svg {
  fill: maroon;
}

#message-box.danger #message-box-close-icon svg:hover {
  fill: #600;
}

#message-box-close-icon {
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 4px;
}

#message-box-close-icon svg {
  width: 16px;
  height: 16px;
}

#message-box-contents {
  overflow: auto;
  padding: 1.5rem .75rem;
  position: relative;
  flex-grow: 9;
  overflow-wrap: break-word;
}

#message-box-contents p:first-child {
  margin-top: 0;
}

#message-box-contents p:last-child {
  margin-bottom: 0;
}

#message-box-buttons {
  padding: .75rem .375rem;
  background-color: #f0f0f0;
  text-align: center;
}

.non-windows #message-box-buttons {
  text-align: right;
  direction: rtl;
}

#message-box-buttons button {
  margin: 0 .375rem;
}

/* popup */
#message-box.stylus-popup {
  margin: 0;
  align-items: center;
  justify-content: center;
}
#message-box.stylus-popup > div {
  max-height: 570px;
  max-width: 90vw;
  top: auto;
  right: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
