.CodeMirror-hints {
  z-index: 999;
}
.CodeMirror-hint:hover {
  color: white;
  background: #08f;
}
.CodeMirror {
  border: solid #CCC 1px;
}
.CodeMirror-lint-mark-warning {
  background: none;
}
.CodeMirror-dialog {
  -webkit-animation: highlight 3s ease-out;
}
.CodeMirror-focused {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
@supports (-moz-appearance:none) {
  /* restrict to FF */
  .CodeMirror-focused {
    outline: #7dadd9 auto 1px;
    outline-offset: -1px;
  }
}
.CodeMirror-search-field {
  width: 10em;
}
.CodeMirror-jump-field {
  width: 5em;
}
.CodeMirror-search-hint {
  color: #888;
}
.cm-uso-variable {
  font-weight: bold;
}
.cm-searching.cm-matchhighlight {
  /* tokens found by manual search should not animate by cm-matchhighlight */
  animation-name: search-and-match-highlighter !important;
}
@keyframes search-and-match-highlighter {
  from { background-color: rgba(255, 255, 0, .4); } /* search color */
  to   { background-color: rgba(100, 255, 100, .4); } /* sarch + highlight */
}

.CodeMirror-activeline .applies-to:before {
  background-color: hsla(214, 100%, 90%, 0.15);
  content: "";
  top: 1em;
  left: 0;
  right: 0;
  bottom: 1em;
  position: absolute;
  pointer-events: none;
}
