:root {
  --pad: 1rem; /* Edge padding for modals/blocks/whatnot. TODO: reuse it in more places */
  --pad05: calc(0.5 * var(--pad));
  --popup-button-width: 16px;
  --target-gapY: calc(.25 * var(--pad));
}

body {
  height: 100vh;
}

#global-progress {
  position: fixed;
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsla(180, 66%, 36%, .25);
  border-left: 0 solid darkcyan;
  z-index: 2147483647;
  opacity: 0;
  transition: opacity 2s;
  contain: strict;
}
#global-progress[title] {
  opacity: 1;
}

.is-new-style .hide-if-new,
.hidden {
  display: none !important;
}
html.is-new-style #heading::after {
  content: attr(data-add);
}
html:not(.is-new-style) #heading::before {
  content: attr(data-edit);
}

/************ embedded popup for simple-window editor ************/
#popup-iframe {
  max-height: 600px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  border: none;
  background: var(--bg);
  box-shadow: 0 0 30px var(--fg);
}
#popup-iframe:not([data-loaded]) {
  opacity: 0;
}
#popup-button {
  position: fixed;
  right: 7px;
  top: 11px;
  z-index: 1000;
  cursor: pointer;
  transition: filter .25s;
}
#popup-button:hover {
  filter: drop-shadow(0 0 3px hsl(180, 70%, 50%));
}
.usercss:not(.compact-layout) #popup-button {
  right: 24px;
}

/************ header ************/
#header {
  width: var(--header-width);
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: var(--pad);
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
#header h1 {
  margin-top: 0;
}
.sectioned body {
  background-color: var(--c98);
}
#sections {
  padding-left: var(--header-width);
}
.sectioned #sections {
  counter-reset: codebox;
}
.usercss #sections {
  min-height: 0;
  height: 100%;
}
#sections h2 {
  margin-top: 1rem;
  margin-left: 1.7rem;
}

/* basic info */
#basic-info {
  margin-bottom: 1rem;
}
#name {
  width: 100%;
}
#basic-info-name {
  display: flex;
  align-items: center;
}
#reset-name {
  margin: 0 .25em 0 .5em;
}
#url {
  margin-left: 0.25rem;
}
#url:not([href^="http"]) {
  display: none;
}

#basic-info-enabled {
  margin-top: .25rem;
}

#basic-info-enabled > * {
  margin-right: 1em;
}

#basic-info-enabled > :last-child {
  margin-right: 0;
}

#preview-errors:not(:empty) {
  color: var(--red1);
  cursor: pointer;
  display: inline-block;
  margin-right: var(--pad05);
}

i {
  width: 16px;
  height: 16px;
}
a.icon {
  margin-left: .2rem;
}
.i-info {
  width: 14px;
  height: 16px;
}
i:hover,
.i-info,
.i-config {
  color: var(--c40);
}
i,
.i-info:hover,
.i-config:hover {
  color: var(--fg);
}
/* collapsibles */
#header details {
  margin-right: var(--header-resizer-width);
}
#header details[open] {
  overflow-y: auto;
  margin-top: calc(1.5*var(--pad));
}
#header details[open] summary {
  position: absolute;
  margin-top: calc(-1.5*var(--pad));
}
#header summary {
  align-items: center;
  margin-left: .25em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
#header summary h2 {
  display: inline-block;
  border-bottom: 1px dotted transparent;
  margin: 0 0 0 -13px;
  padding-left: 13px; /* clicking directly on details-marker doesn't set pref so we cover it with h2 */
  max-width: calc(var(--header-width) - 2*var(--pad));
  vertical-align: middle;
}
#header summary h2,
#header summary h2 > :first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#header summary:hover h2 {
  border-color: var(--c70);
}
#header summary .icon {
  margin-top: -.1em;
}
#header details > :not(summary) {
  margin: 0 var(--pad05) 0 var(--pad);
  padding: calc(var(--pad)/4) 0;
}
#details-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  margin-top: var(--pad05);
}
#actions .buttons {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
#actions .buttons > * {
  margin-bottom: var(--pad05);
}
#actions .buttons > :not(:last-child) {
  margin-right: .25rem;
}
.dirty #save-button,
.dirty #save-button + button {
  background: linear-gradient(gold, orange);
  border-color: darkgoldenrod;
  color: #000;
}
#publish > div > * {
  margin-top: .75em;
}
#publish a:visited {
  margin-top: .75em;
}
#publish[data-connected] summary::marker,
#publish[data-connected] h2 {
  color: hsl(180, 100%, 20%);
}
#publish:not([data-connected]) #usw-disconnect {
  display: none;
}
#publish[data-connected] #usw-publish-style::after {
  content: attr(data-push);
}
#publish:not([data-connected]) #usw-publish-style::after {
  content: attr(data-publish);
}
#usw-progress {
  position: relative;
  vertical-align: top;
}
#usw-progress .success,
#usw-progress .unchanged {
  font-size: 150%;
  font-weight: bold;
  position: absolute;
  margin-left: .25em;
}
#usw-progress .success {
  margin-top: -.25em;
}
#usw-progress .success::after {
  content: '\2713'; /* checkmark */
}
#usw-progress .unchanged::after {
  content: '=';
}
#usw-progress .error {
  display: block;
  margin-top: .5em;
  color: red;
}
#usw-progress .error + div {
  font-size: smaller;
}
#usw-progress .lds-spinner {
  transform: scale(0.125);
  transform-origin: 0 10px;
}
/* footer */
.usercss #footer {
  display: block;
  margin-top: 1em;
  margin-bottom: .5em;
}
#lint:not([open]) + #footer {
  margin-top: 4em;
}
/************ section editor ***********/
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  box-shadow: none !important;
  pointer-events: auto !important; /* FF bug */
}
.section {
  --padL: calc(var(--pad) * 1.5);
  padding: var(--pad) 0; /* must be a part of section for fitToAvailableSpace */
}
.section > .CodeMirror {
  content-visibility: auto;
  contain-intrinsic-block-size: auto var(--cm-height);
}
.section > .applies-to li,
.section > .edit-actions {
  content-visibility: auto;
  contain-intrinsic-block-size: auto var(--input-height);
}
.sectioned:not(.compact-layout) .section > * {
  margin-right: var(--pad);
}
.sectioned:not(.compact-layout) .section > :not(.applies-to) {
  margin-left: var(--padL);
}
.section:nth-child(n + 2) {
  border-top: 1px dotted var(--c80);
}
.add-section:after {
  content: attr(short-text);
}
#sections[data-section-count="1"] .add-section:after {
  content: attr(long-text);
}
#sections[data-section-count="1"] .remove-section {
  display: none;
}
.edit-actions {
  display: flex;
  flex-wrap: wrap;
}
.edit-actions button {
  margin-right: .2rem;
  height: var(--input-height);
}
.section:not(.removed) > label {
  padding-bottom: .25em;
  display: block;
  font-weight: bold;
  animation: 2s highlight;
  animation-play-state: paused;
  animation-direction: reverse;
  animation-fill-mode: both;
}
.usercss .applies-to {
  border-width: 1px 0;
}
.usercss .applies-to > label::before {
  content: attr(data-index) ":";
  margin-right: 0.25rem;
  font-size: 12px;
}
.code-label {
  counter-increment: codebox;
}
.code-label > :first-child::after {
  content: " " counter(codebox) ": ";
}
.code-label.warn {
  color: red;
  font-size: 120%;
}
.code-label.warn i {
  color: red;
  margin-left: .25em;
}
#toc {
  counter-reset: codelabel;
}
#toc li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#toc li.current:not(:only-child) {
  font-weight: bold;
}
#toc li[tabindex="-1"] {
  opacity: .25;
  pointer-events: none;
}
#toc li:hover {
  background-color: hsla(180, 50%, 36%, .2);
}
#toc li[tabindex="0"]::before {
  counter-increment: codelabel;
  content: counter(codelabel) ": ";
}
.section:only-of-type .move-section-up,
.section:only-of-type .move-section-down {
  display: none;
}
.section .CodeMirror {
  margin-bottom: var(--target-gapY);
  box-sizing: border-box;
  min-height: 20px;
  background-color: var(--bg);
}
/* deleted section */
.section.removed:first-child {
  padding-top: var(--pad);
}
.deleted-section {
  margin: 0;
}
.section.removed .code-label,
.section.removed .applies-to,
.section.removed .edit-actions,
.section.removed .CodeMirror {
  display: none;
}
.move-section-down:after,
.move-section-up:after {
  content: "";
  display: block;
  border: var(--side) solid transparent;
  --side: .4em;
}
.move-section-up:after {
  border-bottom: calc(var(--side) * 1.3) solid currentColor;
  margin: -50% 0 0 0;
}
.move-section-down:after {
  border-top: calc(var(--side) * 1.3) solid currentColor;
  margin: 0 0 -60% 0;
}
/* code */
.code {
  height: 10rem;
  width: 40rem;
}
.resize-grip-enabled .CodeMirror-scroll {
  height: auto !important;;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6px; /* resize-grip height */
}
.resize-grip-enabled .CodeMirror-vscrollbar {
  margin-bottom: 7px; /* make space for resize-grip */
}
.resize-grip-enabled .CodeMirror-hscrollbar {
  bottom: 7px; /* make space for resize-grip */
}
.resize-grip-enabled .CodeMirror-scrollbar-filler {
  bottom: 7px; /* make space for resize-grip */
}
@keyframes highlight {
  from {
    background-color: var(--gold1);
  }
}
.resize-grip {
  position: absolute;
  display: block;
  height: 6px;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  cursor: n-resize;
  background-color: inherit;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
}
.resize-grip:after {
  content: "";
  bottom: 2px;
  left: 0;
  right: 0;
  margin: 0 8px;
  display: block;
  position: absolute;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: inherit;
}
/* applies-to */
.applies-to {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.applies-to.error {
  background-color: #f002;
  border-color: #f008;
}
.applies-to > label {
  font-size: 0;
  padding: 0;
  line-height: var(--input-height);
  height: var(--input-height);
}
.sectioned .applies-to label {
  width: var(--padL);
  text-align: center;
}
.compact-layout .applies-to label {
  display: none;
}
.applies-to ul {
  flex: auto;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.applies-to li {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  padding: 1px 0; /* room for focus outline */
  margin-bottom: var(--target-gapY);
}
.applies-to li.applies-to-everything {
  align-items: unset;
  line-height: var(--input-height);
}
.applies-to input {
  border-color: var(--c85);
  caret-color: auto;
}
.applies-to .select-wrapper {
  margin-right: .5em;
}
.applies-to li .add-applies-to:first-child {
  margin-left: 1rem;
}
.applies-to li .applies-value-wrapper {
  flex-grow: 1;
  display: flex;
}
.applies-to[data-all] .applies-value-wrapper {
  display: none;
}
.applies-to li .applies-value {
  flex-grow: 1;
  padding-left: 0.2rem;
}
.applies-to li .applies-value:invalid {
  background: var(--bg);
  color: var(--fg);
  border-color: var(--red1);
  --focus-color1: var(--red1);
  --focus-color2: transparent;
}
.applies-to img {
  vertical-align: bottom;
}
.add-applies-to,
.remove-applies-to {
  font-size: 0;
  height: var(--input-height);
  width: var(--input-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.remove-applies-to {
  margin-left: 4px;
}
.add-applies-to i,
.remove-applies-to i {
  pointer-events: none;
  color: var(--c60);
  height: 12px;
  font-size: 12px;
}
.add-applies-to:hover i,
.remove-applies-to:hover i {
  pointer-events: none;
  color: var(--fg);
}
/************ help popup ************/
#help-popup {
  --pad-x: 1.5rem;
  --pad-y: 1rem;
  --pad-y2: calc(var(--pad-y) / 1.5);
  --top: 3rem;
  top: var(--top);
  right: 3rem;
  max-width: calc(100% - var(--header-width) - 6rem);
  position: fixed;
  background-color: var(--bg);
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
#help-popup.big,
#help-popup.wide {
  max-width: 100%;
}
#help-popup.big {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px 100000px !important;
  left: calc(var(--header-width) - 3rem);
}
#help-popup.big .CodeMirror {
  min-height: 2rem;
  height: 70vh;
}
#help-popup .title {
  font-weight: bold;
  background-color: rgba(128, 128, 128, .15);
  padding: var(--pad-y2) var(--pad-x);
}
#help-popup.danger .title {
  background-color: firebrick;
  color: white;
}
#help-popup.danger > .i-close {
  color: white;
}
#help-popup .contents {
  max-height: calc(100vh - var(--top) - 4rem);
  overflow-y: auto;
  padding: var(--pad-y) var(--pad-x);
}
#help-popup > .i-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--pad-y2) .5em;
  font-size: 14px;
}
#help-popup input[type="search"],
#help-popup .CodeMirror {
  margin: 3px;
}
#help-popup .keymap-list input[type="search"] {
  margin: 0 0 2px;
}
.keymap-list {
  font-size: 12px;
  padding: 0 3px 0 0;
  border-spacing: 0;
  word-break: break-all;
}
.keymap-list input {
  width: 100%;
}
.keymap-list tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.07);
}
.keymap-list td:first-child {
  white-space: nowrap;
  font-family: monospace;
  padding-right: 0.5rem;
}

#help-popup .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--pad-y2) 0 calc(var(--pad-y2) - var(--pad-y)) 0;
}
.non-windows #help-popup .buttons {
  direction: rtl;
  justify-content: start;
}
#help-popup button[name^="import"] {
  line-height: 1.5rem;
  pointer-events: none;
  opacity: 0.5;
}
#help-popup.ready button[name^="import"] {
  pointer-events: all;
  opacity: 1.0;
}
#help-popup .rules {
  padding: 0 15px;
}
#help-popup .rules li {
  padding-top: .5em;
}
#help-popup .rules p {
  margin: .25em 0;
}
#help-popup .buttons > :nth-child(n + 2) {
  margin: 0 0 0 .75rem;
}
.non-windows #help-popup .buttons > :nth-child(n + 2) {
  margin: 0 .5em 0 0;
}

/************ lint ************/
#lint {
  overflow-x: hidden;
}
#lint summary h2 {
  display: inline-flex;
}
#lint table {
  border-spacing: 0;
  line-height: 1.0;
  width: 100%;
  font-size: 85%;
  cursor: pointer;
}
#lint tr td:last-child {
  width: 100%;
}
#lint td[role="line"] {
  padding-left: 0.25rem;
}
#lint .report {
  display: flex;
}
#lint .empty {
  display: none;
}
#lint .caption {
  vertical-align: top;
  line-height: 16px;
  font-weight: bold;
}
#lint .report:not(.empty) ~ :not(.empty) {
  border-top: 1px dotted rgba(128, 128, 128, .5);
  margin-top: .25em;
  padding-top: .25em;
}
#lint tr:hover {
  background-color: hsla(180, 50%, 36%, .2);
}
#lint td {
  padding: 0;
  line-height: 16px;
}
#lint td[role="severity"] {
  font-size: 0;
  width: 16px;
}
#lint td[role="line"], #lint td[role="sep"] {
  text-align: right;
}
#lint td[role="col"] {
  text-align: left;
  padding-right: 0.25rem;
}
#lint td[role="message"] {
  text-align: left;
  white-space: nowrap;
}
#issue-count::before {
  content: ':\A0';
}
#message-box.center.lint-config #message-box-contents {
  text-align: left;
}
#help-popup .cm-active-linter-rule {
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(128, 128, 128, .2);
}

/************ CSS beautifier ************/
.beautify-options {
  white-space: nowrap;
}
.beautify-options div {
  float: left;
  display: flex;
  align-items: center;
}
.beautify-options div[newline="true"] + div {
  clear: left;
}
.beautify-options div[newline="true"] + div span[indent] {
  padding-left: 2rem;
}
.beautify-options > label {
  top: 1em;
  margin: 1ex 0;
}
.beautify-options:after {
  clear: both;
  display: block;
  content: "";
  height: 1rem;
}
.beautify-options span {
  font-weight: bold;
  font-family: monospace;
}
.beautify-options select {
  border: none;
  background: var(--c95);
  font-family: monospace;
  font-weight: bold;
  padding-left: 4px;
  margin-left: 4px;
}
.beautify-hint {
  width: 0;
  min-width: 100%;
  font-size: 90%;
}

/************ single editor **************/
.usercss .CodeMirror-focused {
  box-shadow: none;
}

.sectioned .usercss-only,
.usercss .sectioned-only {
  display: none !important; /* hide during page init */
}

.single-editor {
  position: relative;
  height: 100%;
}
.single-editor .CodeMirror {
/* WARNING! If you change this or .single-editor make sure editor opens huge styles like GitHub Dark instantly */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  border: none;
  outline: none;
}

#footer a {
  color: var(--c20);
  transition: color .5s;
}

#footer a:hover {
  color: var(--c40);
}

/************ line widget *************/
.CodeMirror-linewidget .applies-to {
  margin: 0 0 .25em;
  padding: var(--target-gapY) calc(.25rem + var(--cm-bar-width, 0)) var(--target-gapY) .75rem;
  font-family: var(--family);
}
.CodeMirror-linewidget li.applies-to-everything {
  margin-left: 0.2rem;
}

/************ full-width only ************/
/* TODO: maybe move more rules here so we don't need to reset them in @media(max-width: 850px) */
@media (min-width: 851px) {
  #header > :not(#details-wrapper):not(#header-resizer) {
    margin-left: var(--pad);
    margin-right: var(--pad);
  }
  #publish[open],
  #header details:not([open]) {
    flex: 0 0 auto;
  }
  #header details[open]:not(:last-child) {
    margin-bottom: var(--pad05);
  }
  #header details:last-child {
    padding-bottom: var(--pad);
  }
}

/************ reponsive layouts ************/
@media(max-width: 850px) {
  .usercss body {
    display: flex;
    flex-direction: column;
  }
  .usercss #header,
  #header:not(.sticky) {
    position: static;
  }
  #header:not(.sticky) {
    display: block;
  }
  #header {
    flex: 0 0 auto;
    height: unset;
    width: 100%;
    overflow: visible;
    border-right: none;
    border-bottom: 1px dashed var(--c65);
    padding: var(--pad05) var(--pad05) 0;
  }
  #header.sticky {
    flex-direction: row;
    box-shadow: 0 0 3rem -.75rem;
  }
  #header.sticky .hide-if-sticky,
  #heading,
  h2 {
    display: none;
  }
  #header.sticky #basic-info {
    margin: 0;
  }
  #header.sticky #preview-errors {
    position: absolute;
    top: var(--pad05);
    right: var(--pad05);
    margin: .25em 0 0 !important;
  }
  .popup-window #header.sticky #preview-errors {
    right: calc(var(--pad05) + 24px);
  }
  .popup-window #details-wrapper {
    margin-right: var(--popup-button-width);
  }
  #basic-info {
    margin: 0 var(--popup-button-width) var(--pad05) 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  #basic-info #name,
  #basic-info > *:first-child {
    flex-grow: 1;
  }
  #basic-info > *:not(:last-child) {
    margin-right: 0.8rem;
  }
  #header details > :not(summary) {
    margin-left: var(--pad05);
  }
  #header h2 {
    font-size: 14px;
  }
  #actions {
    display: inline-block;
  }
  #actions > :nth-last-child(n + 2) {
    margin-right: .25rem;
  }
  #details-wrapper {
    display: inline-flex;
    vertical-align: top;
    max-width: 100%;
    flex-direction: row;
    margin: .25em .25em var(--pad05);
  }
  #details-wrapper details[open] {
    margin-top: 0;
    z-index: 50;
  }
  #details-wrapper details[open]:hover,
  #details-wrapper details[open]:focus-within {
    z-index: 51;
  }
  #details-wrapper details[open] > summary {
    position: static;
    margin-top: 0;
  }
  #details-wrapper details[open] > summary + * {
    position: absolute;
    overflow: hidden auto;
    max-height: var(--max-height, 25vh);
    max-width: calc(100vw - 2 * var(--pad));
    background: var(--bg);
    box-shadow: 0 6px 20px rgba(0, 0, 0, .3);
    padding: var(--pad);
    margin-top: var(--pad05);
  }
  #options > main {
    display: flex;
    flex-wrap: wrap;
  }
  #options > main > :first-child {
    margin: 0 1em 0 0;
  }
  #options > main > :nth-child(n + 2) {
    margin: 0;
  }
  #header .settings h2 {
    max-width: 7vw;
  }
  @media (max-height: 500px) {
    #details-wrapper {
      --max-height: 50px;
    }
  }
  #sections-list[open] > #toc {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
  }
  #sections-list[open] > #toc,
  #lint[open] > .lint-report-container {
    max-width: 50vw;
    right: 0;
  }
  #publish[open],
  #lint:not([open]) {
    flex: 0 0 auto;
    overflow-x: hidden;
  }
  #publish dd {
    white-space: normal;
    max-height: 1.25em;
  }
  #sections {
    padding: 0;
  }
  .section {
    padding: var(--pad05);
  }
  .single-editor {
    overflow: hidden;
    flex: 1;
  }
  #help-popup.big,
  #help-popup {
    width: max-content;
    height: min-content;
    max-width: calc(100vw - 2rem);
    --top: 7rem;
    right: 1rem;
    margin: auto;
  }
  #help-popup[style*="left:"] {
    left: 1rem !important;
    margin-top: -2.35rem;
  }
  #help-popup .CodeMirror-lint-markers,
  #help-popup .CodeMirror-guttermarker-subtle {
    display: none !important;
  }
  #help-popup .CodeMirror-linenumber {
   padding: 0;
  }
}
