#help-popup[data-type="settings"].dirty > .contents > .settings[data-style] > .title::after {
  content: ' *';
}
#help-popup[data-type="settings"] > .contents > .settings > .title {
  margin: 0 calc(-1 * var(--pad-x) - 1px) var(--pad-y);
}
#help-popup[data-type="settings"] > .contents {
  overflow-x: visible;
}
.settings {
  padding: 0 1px; /* for focus outline */
  border: 0;
  margin: 0 0 var(--pad-y);
  max-width: 100%;
  box-sizing: border-box;
}
.settings > * {
  display: block;
  margin: 1rem 0;
  padding: 0;
}
.settings > :first-child {
  margin-top: 0;
}
.settings > :last-child {
  margin-bottom: 0;
}
.settings input:disabled ~ label {
  opacity: .5;
}
.settings .w100 {
  display: block;
  width: 100%;
  margin-top: .25em;
  box-sizing: border-box;
}
.settings textarea {
  resize: vertical;
  min-height: 2.5em;
  max-height: 50vh;
  white-space: pre;
}
.settings .radio-wrapper {
  display: inline-flex;
  padding: 0 .8em 0 0;
}
a[data-cmd=note] {
  vertical-align: text-bottom;
}

/* editor settings */
.settings[data-editor] > :not(.aligned) > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: .15em 0;
}
.settings[data-editor] .aligned > * {
  display: table-row;
}
.settings[data-editor] .aligned > * > :not(.icon) {
  display: table-cell;
  margin-top: 0.1rem;
  min-height: 1.4rem;
}
.settings[data-editor] .aligned label {
  padding: .1rem .25rem 0 0;
  vertical-align: middle;
}
.settings[data-editor] .aligned [type="number"] {
  width: 3.5em;
  text-align: left;
  padding-left: .25em;
}
