.settings.dirty > summary > ::after {
  content: ' *';
}
.settings > main > * {
  display: block;
  margin: 1rem 0;
  padding: 0;
}
.settings > main > :first-child {
  margin-top: 0;
}
.settings > main > :last-child {
  margin-bottom: 0;
}
.settings input:disabled ~ label {
  opacity: .5;
}
.settings .w100 {
  display: block;
  width: 100%;
  margin-top: .25em;
  box-sizing: border-box;
}
.settings textarea {
  resize: vertical;
  min-height: 2.5em;
  max-height: 50vh;
  white-space: pre;
}
.settings .radio-wrapper {
  display: inline-flex;
  padding: 0 .8em 0 0;
}
.settings a[data-cmd=note] {
  vertical-align: text-bottom;
}

/* editor settings */
.settings > main > section:not(.aligned) > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: .15em 0;
}
.settings > main > section.aligned > * {
  display: table-row;
}
.settings > main > section.aligned > * > :not(.icon) {
  display: table-cell;
  margin-top: 0.1rem;
  min-height: 1.4rem;
}
.settings > main > section.aligned label {
  padding: .1rem .25rem 0 0;
  vertical-align: middle;
}
.settings > main > section.aligned input[type="number"] {
  width: 3.5em;
  text-align: left;
  padding-left: .25em;
}
