#help-popup.style-settings-popup.dirty .title::after {
  content: ' *';
}
.compact-layout #help-popup.style-settings-popup {
  width: 90%;
}
#help-popup.style-settings-popup {
  max-width: calc(100vw - 12rem);
}
.style-settings {
  padding: 0 1px; /* for focus outline */
  border: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.style-settings > * {
  display: block;
  margin: 1rem 0;
  padding: 0;
}
.style-settings > :first-child {
  margin-top: 0;
}
.style-settings > :last-child {
  margin-bottom: 0;
}
.style-settings input:disabled ~ label {
  opacity: .5;
}
.style-settings .w100 {
  display: block;
  width: 100%;
  margin-top: .25em;
  box-sizing: border-box;
}
.style-settings textarea {
  resize: vertical;
  min-height: 2.5em;
  max-height: 50vh;
  white-space: pre;
}
.style-settings .radio-wrapper {
  display: inline-flex;
  padding: 0 .8em 0 0;
}
a[data-cmd=note] {
  vertical-align: text-bottom;
}
