.tab-container {
  display: flex;
  flex-direction: column;
}
.tab-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid silver;
  padding: 5px 5px 0 15px;
}
.tab-bar-item {
  margin: 0 0.3em;
  padding: 0.3em 0.6em;
  border: 1px solid silver;
  border-bottom: none;
  background: silver;
  cursor: pointer;
}
.tab-bar-item.active {
  background: white;
}
.tab-panel {
  flex-grow: 1;
}
.tab-panel > :not(.active) {
  display: none;
}

