<!DOCTYPE html>
<html id="stylus" class="dvh100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title i18n="+optionsHeading">Stylus </title>
  <link href="css/icons.ttf" rel="preload" as="font" crossorigin="anonymous">
  <%= htmlWebpackPlugin.tags.headTags %>

  <template data-id="popupBorders">
    <label>
      <span i18n="popupBorders, title:popupBordersTooltip"></span>
      <input type="checkbox" id="popup.borders" class="slider">
    </label>
  </template>

  <template data-id="body">

    <header>
      <img src="icon/128.png" width="32" height="32">
      <h1 i18n="optionsHeading"></h1>
      <i class=i-close tabindex="0"></i>
    </header>

    <main>

      <div class="block" id="updates">
        <h2 i18n="optionsCustomizeUpdate"></h2>
        <div class="items swap">
          <label>
            <span i18n="optionsUpdateInterval" data-clickable="0"></span>
            <input type="number" min="0" id="updateInterval">
          </label>
          <label>
            <span i18n="manageOnlyEnabled"></span>
            <input type="checkbox" id="updateOnlyEnabled" class="slider">
          </label>
        </div>
      </div>

      <div class="block sync-options">
        <h2 i18n="optionsCustomizeSync"></h2>
        <div class="items swap">
          <label>
            <span class="sync-status no-stretch"></span>
            <div class="select-wrapper">
              <select class="cloud-name">
                <option value="none" i18n="optionsSyncNone"></option>
              </select>
            </div>
          </label>
          <table class="drive-options" data-drive="webdav">
            <tr>
              <td i18n="optionsSyncUrl"></td>
              <td><input type="url" data-option="url"></td>
            </tr>
            <tr>
              <td i18n="optionsSyncUsername"></td>
              <td><input type="text" data-option="username"></td>
            </tr>
            <tr>
              <td i18n="optionsSyncPassword"></td>
              <td><input type="password" data-option="password"></td>
            </tr>
          </table>
          <div class="actions">
            <button class="connect"></button>
            <button class="sync-now" i18n="optionsSyncSyncNow"></button>
            <button class="sync-login" i18n="optionsSyncLogin"></button>
          </div>
        </div>
      </div>

      <div class="block">
        <h2 i18n="stylePreferSchemeLabel"></h2>
        <div class="items no-stretch">
          <label class="radio-wrapper" i18n="+preferSchemeDark">
            <input type="radio" value="dark" name="schemeSwitcher.enabled">
          </label>
          <label class="radio-wrapper" i18n="+preferSchemeLight">
            <input type="radio" value="light" name="schemeSwitcher.enabled">
          </label>
          <label class="radio-wrapper" i18n="+optionsAdvancedAutoSwitchSchemeBySystem">
            <input type="radio" value="system" name="schemeSwitcher.enabled">
          </label>
          <label class="radio-wrapper">
            <input type="radio" value="time" name="schemeSwitcher.enabled">
            <span i18n="optionsAdvancedAutoSwitchSchemeByTime"></span>
            <input type="time" required id="schemeSwitcher.nightStart">
            ~
            <input type="time" required id="schemeSwitcher.nightEnd">
          </label>
          <label class="radio-wrapper" i18n="+optionsAdvancedAutoSwitchSchemeNever">
            <input type="radio" value="never" name="schemeSwitcher.enabled">
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="optionsCustomizeIcon"></h2>
        <div class="items no-stretch">
          <label>
            <span class="radio-wrapper" i18n="+optionsIconAuto">
              <input type="radio" name="iconset" value="-1" data-value-type="number">
            </span>
            <span></span>
          </label>
          <label>
            <span class="radio-wrapper" i18n="+optionsIconDark">
              <input type="radio" name="iconset" value="0" data-value-type="number">
            </span>
            <span>
              <img src="icon/16.png">
              <img src="icon/16w.png">
              <img src="icon/16x.png">
            </span>
          </label>
          <label>
            <span class="radio-wrapper" i18n="+optionsIconLight">
              <input type="radio" name="iconset" value="1" data-value-type="number">
            </span>
            <span>
              <img src="icon/light/16.png">
              <img src="icon/light/16w.png">
              <img src="icon/light/16x.png">
            </span>
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="optionsCustomizeBadge"></h2>
        <div class="items swap">
          <label>
            <span i18n="prefShowBadge"></span>
            <input type="checkbox" id="show-badge" class="slider">
          </label>
          <label>
            <span i18n="optionsBadgeNormal"></span>
            <input type="color" id="badgeNormal">
          </label>
          <label>
            <span i18n="optionsBadgeDisabled"></span>
            <input type="color" id="badgeDisabled">
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="optionsCustomizePopup"></h2>
        <div class="items swap">
          <label class="desktop-only">
            <span i18n="optionsPopupWidth,+genericMinimum"> — </span>
            <input type="number" id="popupWidth" min="200" max="800">
          </label>
          <label class="desktop-only">
            <span i18n="optionsPopupWidth,+genericMaximum"> — </span>
            <input type="number" id="popupWidthMax" min="200" max="800">
          </label>
          <label>
            <span i18n="popupStylesFirst"></span>
            <input type="checkbox" id="popup.stylesFirst" class="slider">
          </label>
          <label>
            <span i18n="popupAutoResort"></span>
            <input type="checkbox" id="popup.autoResort" class="slider">
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="styleEditor"></h2>
        <div class="items swap">
          <label>
            <span i18n="popupOpenEditInWindow">
              <a i18n="title:popupOpenEditInWindowTooltip"
                 data-cmd="note" class="icon" tabindex="0">
                <i class="i-info"></i>
              </a>
            </span>
            <input type="checkbox" id="openEditInWindow" class="slider">
          </label>
          <label show-if="openEditInWindow">
            <span i18n="popupOpenEditInPopup"></span>
            <input type="checkbox" id="openEditInWindow.popup" class="slider">
          </label>
          <label class="chromium-only">
            <span i18n="optionsAdvancedContextDelete"></span>
            <input type="checkbox" id="editor.contextDelete" class="slider">
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="styleManager"></h2>
        <div class="items swap">
          <label>
            <span i18n="manageNewUI"></span>
            <input type="checkbox" id="manage.newUI" class="slider">
          </label>
          <label show-if="manage.newUI" id="favs">
            <span i18n="manageFavicons">
              <a i18n="title:manageFaviconsHelp"
                 data-cmd="note" class=icon tabindex="0">
                <i class=i-info></i>
              </a>
            </span>
            <input type="checkbox" id="manage.newUI.favicons" class="slider">
          </label>
          <label show-if="manage.newUI.favicons">
            <span i18n="manageFaviconsGray"></span>
            <input type="checkbox" id="manage.newUI.faviconsGray" class="slider">
          </label>
          <label>
            <span i18n="manageMaxTargets"></span>
            <input id="manage.newUI.targets" type="number" min="0" max="99">
          </label>
          <label>
            <span i18n="manageMinColumnWidth" data-clickable="9999" class="no-stretch"></span>
            <input id="manage.minColumnWidth" type="number" min="300" max="9999">
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="general"></h2>
        <div class="items swap">
          <label>
            <span i18n="optionCompactWidth"></span>
            <input type="number" id="compactWidth" min="100" max="9999">
          </label>
        </div>
      </div>

      <div class="block" id="advanced">
        <h2 i18n="optionsAdvanced"></h2>
        <div class="items swap">
          <label class="mv3-only">
            <span i18n="optionKeepAlive" data-clickable="-1">
              <a i18n="title:optionKeepAliveNote" data-cmd="note" class=icon tabindex="0">
                <i class=i-info></i>
              </a>
            </span>
            <input id="keepAlive" type="number" min="-1" max="999">
          </label>
          <label class="mv3-only" show-if="keepAlive!=-1">
            <span i18n="optionKeepAliveIdle" data-clickable="-1"></span>
            <input type="checkbox" id="keepAliveIdle" class="slider">
          </label>
          <label>
            <span i18n="optionsAdvancedStyleViaXhr">
              <a i18n="title:optionsAdvancedStyleViaXhrNote"
                 data-cmd="note" class=icon tabindex="0">
                <i class=i-info></i>
              </a>
            </span>
            <input type="checkbox" id="styleViaXhr" class="slider">
          </label>
          <label>
            <span i18n="html:optionsAdvancedPatchCsp">
              <a i18n="title:optionsAdvancedPatchCspNote"
                 data-cmd="note" class=icon tabindex="0">
                <i class=i-info></i>
              </a>
            </span>
            <input type="checkbox" id="patchCsp" class="slider">
          </label>
          <label>
            <span i18n="optionsAdvancedStyleViaASS"></span>
            <input type="checkbox" id="styleViaASS" class="slider">
          </label>
          <label>
            <span i18n="optionsAdvancedExposeIframes">
              <a i18n="title:optionsAdvancedExposeIframesNote"
                 data-cmd="note" class=icon tabindex="0">
                <i class=i-info></i>
              </a>
            </span>
            <input type="checkbox" id="exposeIframes" class="slider">
          </label>
          <label>
            <span i18n="optionsAdvancedExposeStyleName">
              <a i18n="title:optionsAdvancedExposeStyleNameNote"
                 data-cmd="note" class=icon tabindex="0">
                <i class=i-info></i>
              </a>
            </span>
            <input type="checkbox" id="exposeStyleName" class="slider">
          </label>
          <label>
            <span i18n="optionsUrlInstaller"></span>
            <input type="checkbox" id="urlInstaller" class="slider">
          </label>
        </div>
      </div>

      <div class="block">
        <h2 i18n="cm_theme"></h2>
        <div class="items no-stretch" i18n="optionsStylusThemes"></div>
      </div>

      <div class="block" id="FOUC">
        <h2 i18n="optionFOUC"></h2>
        <div class="items no-stretch"></div>
      </div>

    </main>

    <footer>
      <button id="reset" i18n="optionsResetButton, title:optionsReset"></button>
      <button id="shortcuts" i18n="shortcuts, title:shortcutsNote"></button>
      <button id="manage" i18n="confirmClose"></button>
    </footer>

  </template>
</head>

<body id="stylus-options">
  <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
