name: ci
on:
  push:
    paths:
      - 'src/**'
      - 'tools/**'
      - '*.js' # root configs
      - 'package.json'
      - '!src/types.d.ts'
      - .github/workflows/ci.yml
    branches:
      - "**"

  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build: [chrome-mv3, firefox, mv2]
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'

      - run: pnpm install --ignore-scripts # ignore postinstall hook
      - run: pnpm test
        if: ${{matrix.build == 'chrome-mv3'}}
      - run: echo "_REV=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - run: pnpm build-${{matrix.build}}

      - name: upload "${{matrix.build}}" to github
        uses: actions/upload-artifact@v4
        with:
          name: 'stylus-${{matrix.build}}-${{env._VER}}-${{env._REV}}'
          path: 'dist/*'
          if-no-files-found: error
