:root {
  --border: 1px solid var(--c80);
  --inner-padding: 18px; /* checkbox + gap */
  --outer-padding: 9px;
  --hotkey-margin: 16px;
  --red1: hsl(0, 70%, 45%);
  --hover: var(--accent-1);
  --hover-icon: var(--c10);
  --hover-disabled: var(--c40);
}
[data-ui-theme="dark"] {
  --red1: hsl(0, 85%, 65%);
  --hover: var(--cmin);
  --hover-disabled: var(--c30);
}

html, body {
  height: min-content;
  max-height: 600px;
}

body {
  width: 252px;
  overflow: hidden;
}

.firefox button {
  transition: none; /* FF borks subpixel AA during transitions in popup */
}

body > div:not(#installed):not(#message-box):not(.colorpicker-popup) {
  padding-left: var(--outer-padding);
  padding-right: var(--outer-padding);
}

body:not(.blocked) .if-blocked,
.blocked .if-not-blocked,
.blocked #installed > :not(.frame),
.blocked [data-frame-id="0"] > .breadcrumbs,
.firefox .chromium-only {
  display: none !important;
}

#main-actions {
  /* raise the actions above the hotkey-info */
  position: relative;
  z-index: 4;
}
#main-actions > * {
  margin-top: .75em;
  display: flex;
}

#disableAll-label {
  width: fit-content;
}

#no-styles {
  padding: .75em var(--outer-padding) 0;
  font-weight: bold;
}

.style-name:hover input:checked,
.style-name:hover input {
  border-color: var(--c30);
  background-color: var(--c80);
}
#installed input {
  pointer-events: none;
  align-self: center;
  color: var(--fg);
}
#installed input::after {
  height: auto;
}

a {
  color: var(--fg);
  transition: color .5s;
}

a:hover {
  color: var(--c40);
}

body > DIV:last-of-type,
body.blocked > DIV {
  border-bottom: none;
}

#installed {
  max-height: 445px;
  overflow-y: auto;
  counter-reset: style-number;
  position: relative;
}

.all-disabled .style-name {
  text-decoration: line-through;
}

#installed .actions {
  cursor: default;
}

#installed .actions a {
  cursor: pointer;
  text-decoration: none;
}

/* entry */
.entry {
  position: relative;
}
.styles-first .entry {
  border-bottom: var(--border);
}
.styles-last .entry {
  border-top: var(--border);
}
.entry-content {
  display: flex;
  align-items: center;
  height: 26px;
  padding: 0 14px 0 0;
}

html[style] .entry-content {
  padding: 0 var(--hotkey-margin) 0 0;
}

.entry .actions {
  display: inline-flex;
  align-items: center;
}

.style-name {
  height: 100%;
  width: 100%;
  line-height: 28px;
  cursor: default;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: var(--outer-padding);
  position: relative;
  display: flex;
}

.disabled .style-name,
.disabled .actions i {
  font-weight: normal;
  color: var(--c60);
}
.disabled:hover a:hover i {
  color: var(--fg);
}

.entry .main-controls {
  height: 100%;
  display: inline-flex;
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  padding-right: 5px;
}

.styles-first.even .entry:nth-child(even),
.styles-first.odd .entry:nth-child(odd),
.styles-last .entry:nth-child(even) {
  background-color: var(--zebra);
}

.entry:nth-child(-n+10):before,
.entry:nth-child(11):before {
  counter-increment: style-number;
  content: counter(style-number);
  position: absolute;
  top: .9ex;
  right: 5px;
  color: var(--c65);
}

.entry:nth-child(11):before {
  content: "0";
}

html[style*="border"] .entry:nth-child(-n+10):before,
html[style*="border"] .entry:nth-child(11):before {
  /* the "show side borders" option adds 2px */
  right: 7px;
}

.entry .actions {
  margin-left: -1px;
  margin-right: -1px;
}

.entry .actions > * {
  height: 26px;
  width: var(--inner-padding);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.entry .actions > a.configure {
  padding-right: 2px;
}

.entry .actions > a.configure[target="_blank"] {
  width: 20px;
}

a.configure[target="_blank"] .i-config {
  font-size: 20px;
  margin-top: 1px;
}

.not-applied .style-name,
.not-applied .actions > * {
  opacity: .25;
  transition: opacity .5s ease-in-out .25s, color .5s ease-in-out .25s;
}
.not-applied .style-name {
  opacity: .5;
}
.not-applied:hover .style-name,
.not-applied:hover .actions > * {
  opacity: 1;
}
.not-applied:hover .style-name {
  color: var(--red1);
}

/* should be the last of entry to override same-specificity selectors */
.entry:hover :not(i) {
  color: var(--hover);
}
.entry:hover i {
  color: var(--hover-icon);
}
.disabled:hover *:not(i) {
  color: var(--hover-disabled);
}

.frame-url::before {
  content: "iframe: ";
  color: lightslategray;
}

.frame .style-name {
  font-weight: normal;
}

#menu:not([hidden]) {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.4);
}
#menu > div {
  background-color: var(--bg);
  border: solid 2px rgba(128, 128, 128, .5);
}
#menu > div > * {
  padding: .75em 1em .5em;
}
#menu:not(.delete) main.delete,
#menu.delete main:not(.delete) {
  display: none;
}
#menu.delete > div,
#menu.delete [data-cmd=delete] {
  border-color: #c00;
}
#menu header {
  font-weight: bold;
  background: var(--c90);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu.delete header {
  background: rgba(255, 0, 0, .25);
}
#menu main > * {
  display: flex;
}
#menu main > :nth-child(n + 2) {
  padding-top: .5em;
}
#menu [data-cmd="delete"]:not([data-focused-via-click]):focus {
  box-shadow: 0 0 0 1px red; /* Using box-shadow instead of the ugly outline in new Chrome */
}
#menu .enabled {
  color: var(--accent-1);
}
#menu .disabled {
  color: var(--c60);
  cursor: help;
}
#menu footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .25em;
  padding-bottom: 1em;
}
#menu footer > * {
  margin: 0 .25em;
}
.non-windows #menu footer {
  direction: rtl;
  justify-content: flex-end;
}
.entry .menu-icon {
  width: 26px;
  flex-shrink: 0;
}

.regexp-problem-indicator {
  background-color: #d00;
  width: 14px;
  height: 14px;
  line-height: 15px;
  border-radius: 8px;
  margin-right: 6px;
  margin-left: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 90%;
  display: none;
}
.regexp-partial .regexp-problem-indicator {
  display: block;
}

.regexp-partial .actions,
.regexp-invalid .actions {
    order: 2;
}

#regexp-explanation {
  position: fixed;
  background-color: var(--bg);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: .5rem;
  font-size: 90%;
  border-top: 2px solid var(--fg);
  border-bottom: 2px solid var(--fg);
  box-shadow: 0 0 100px var(--fg);
  display: flex;
  flex-direction: column;
  z-index: 999999;
}

#regexp-explanation > div {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.regexp-partial #regexp-partial,
.regexp-invalid #regexp-invalid {
  display: block;
}

#regexp-explanation > div:not(:last-child) {
  margin-bottom: .5rem;
}

i {
  pointer-events: none;
  font-size: 16px;
}

a:hover i {
  color: var(--fg);
}

/* Never shown, but can be enabled with a style */

.entry .actions > .enable,
.entry .actions > .disable {
  display: none;
}

#write-style {
  cursor: pointer;
  overflow: hidden;
}
#write-as {
  flex: 0;
}
#newStyleAsUsercss + i {
  pointer-events: auto;
  margin-left: -1px;
  color: var(--c60);
}
#newStyleAsUsercss:checked,
#newStyleAsUsercss:checked + i {
  border-color: var(--accent-1);
  color: var(--accent-2);
}
[data-ui-theme="dark"] #newStyleAsUsercss:checked {
  border-color: var(--accent-2);
}
.write-style-link {
  text-decoration: none;
  white-space: nowrap;
}
.write-style-link:last-child {
  color: var(--c50);
  overflow: hidden;
  flex: 1 0 2em;
  text-overflow: ellipsis;
}
.about-blank > .breadcrumbs {
  cursor: default;
}
.match:not([data-frame-id="0"]) a {
  text-decoration: none; /* not underlining iframe links until hovered to reduce visual noise */
}
.match .match {
  margin-left: .5rem;
}
#write-for-frames::before,
.match .match::before {
  content: "";
  width: .4rem;
  height: .4rem;
  margin-left: -.5rem;
  display: block;
  position: absolute;
  border-width: 1px;
  border-style: none none solid solid;
}
.dupe > .breadcrumbs {
  opacity: .5;
}
.dupe:not([data-children]) {
  display: none;
}
#write-for-frames {
  margin: 0 0 -.25em .5rem;
  color: var(--c50);
  transition: color .2s;
}
#write-for-frames:hover {
  color: var(--fg);
}
#write-style:not(.expanded) .match:not([data-frame-id="0"]),
#write-style:not(.expanded) .match .match {
  display: none;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs:hover a {
  color: var(--c75);
  text-decoration: none
}
/* "dot" after each subdomain name */
.write-style-link[subdomain]::after {
  content: "."
}
/* "forward slash" before path ("this URL") */
.write-style-link:last-child:not(:empty)::before {
  content: "\200b/"
}
/* no "dot" after top-level domain */
.write-style-link:nth-last-child(2)::after,
.write-style-link:only-child::before,
.write-style-link[subdomain=""] + a::before {
  content: none
}
/* :hover style */
.breadcrumbs.url\(\) > a,
/* :hover or :focus on "this URL" sets class="url()" */
.breadcrumbs > a:hover,
.breadcrumbs > a:focus,
.breadcrumbs > a:hover ~ a[subdomain],
.breadcrumbs > a:focus ~ a[subdomain] {
  color: inherit;
  text-decoration: underline;
}

/* action buttons */

#popup-options {
  --btn-gap: 4px;
  display: flex;
  flex-direction: row;
  padding: var(--outer-padding) 1px;
  margin-right: calc(-1 * var(--btn-gap));
}
#popup-options .split-btn > :first-child {
  width: calc(100% - 16px);
}
.blocked #popup-options > * > :first-child {
  width: 100%;
}
#popup-options button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#popup-options > * {
  margin-right: var(--btn-gap);
}
#popup-options > *,
#popup-options .split-btn > :first-child {
  /* several languages have labels of wildly different lengths so we try to maintain the proportion */
  flex: 1 1 auto;
  min-width: 2em;
}
#options-btn svg {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 19px;
  font: normal 20px icons;
  margin: auto;
  fill: transparent;
  stroke: currentColor;
}
.styles-first:not(.search-results-shown) #popup-options .split-btn-menu {
  bottom: 0;
  transform: translateY(-20px); /* global button style: 13(font) * 1.2(line) + 4(pad) + 2(border) */
}
.styles-first:not(.search-results-shown) .split-btn-pedal::after {
  border-top: var(--side) solid transparent;
  border-bottom: calc(var(--side) * 1.3) solid currentColor;
  vertical-align: top;
  position: relative;
  top: 1px;
}
.styles-last body,
.styles-last #main-actions {
  display: flex;
  flex-direction: column;
}
.styles-last #installed {
  order: 2;
  flex: 1 0;
}
.styles-last #main-actions {
  order: 1;
  margin: calc(-1 * var(--outer-padding)) 0 var(--outer-padding) 0;
}
.styles-last #search-results {
  order: 3;
}

.unreachable .entry:not(.frame) {
  opacity: .25;
}

.unreachable .blocked-info {
  border-bottom: var(--border);
}

.blocked-info label {
  padding: .75em 0 .5em;
  display: block;
  font-weight: bold;
}

.blocked-info p {
  padding: 1px 0 var(--outer-padding);
  display: block;
  font-size: 95%;
  margin: 0;
}

.blocked-info .copy {
  cursor: pointer;
  transition: all .1s;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-weight: bold;
}

.blocked-info .copy:hover {
  color: var(--fg);
}

.blocked-info .copy.copied {
  background: hsl(170, 40%, 80%);
  color: var(--fg);
}

.copy-message {
  white-space: nowrap;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  padding: 4px 0;
  background: hsl(170, 40%, 80%);
  color: var(--fg);
  z-index: 10;
}

.copy-message.show-message {
  display: block;
}

.blocked-info .copy:after {
  content: '';
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAGUExURQAAAAAAAKVnuc8AAAABdFJOUwBA5thmAAAAIElEQVQI12NgYGCEAgYgkwEMGBFijEhixDMZkUSRLQAACpYALjrE2uIAAAAASUVORK5CYII=)center no-repeat;
  height: 10px;
  width: 10px;
  display: inline-flex;
  margin-left: 3px;
}

/******************************************/

#hotkey-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--hotkey-margin);
  cursor: help;
  margin: 0;
  padding: 0;
  z-index: 1;
  hyphens: auto;
}

#hotkey-info:not([data-active]) > * {
  display: none;
}

#hotkey-info[data-active] {
  position: fixed;
  left: 6ex;
  bottom: unset;
  width: auto;
  cursor: auto;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--bg);
  box-shadow: 0 0 90px rgba(0, 0, 0, .5);
  z-index: 5;
}

#hotkey-info div:first-child {
  flex-grow: 1;
  padding: 0 1em 1em;
  font-size: 11px;
  overflow-y: auto;
}

#hotkey-info div {
  padding: 1em;
  border-top: 1px solid var(--c85);
  background-color: var(--bg);
}

#hotkey-info div:last-child {
  box-shadow: 0 0 90px rgba(0, 0, 0, .25);
  position: relative;
}

#hotkey-info p {
  text-indent: -3px;
}

#hotkey-info p:last-child {
  margin-bottom: 0;
}

#hotkey-info mark {
  display: inline-block;
  color: var(--fg);
  background: linear-gradient(var(--c80), var(--bg));
  padding: 1px 6px 0;
  margin: 2px;
  border: 1px solid var(--bg);
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
  font-weight: bold;
  white-space: nowrap;
}

/******************************************/

@media (max-height: 130px) {
  #find-split {
    --menu-pad: .25em;
  }
}

/* Popup adjustments for common zoom levels */

@media (-webkit-min-device-pixel-ratio: 1.05) {
  #installed {
    max-height: 420px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.1) {
  #installed {
    max-height: 393px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.15) {
  #installed {
    max-height: 371px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.2) {
  #installed {
    max-height: 348px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.25) {
  #installed {
    max-height: 326px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.30) {
  #installed {
    max-height: 306px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.35) {
  #installed {
    max-height: 288px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.4) {
  #installed {
    max-height: 271px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.45) {
  #installed {
    max-height: 256px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #installed {
    max-height: 244px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.55) {
  #installed {
    max-height: 199px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.75) {
  #installed {
    max-height: 144px;
  }
}
