#disable-all-wrapper {
  border-bottom: solid 1px #000;
  margin-bottom: 5px;
}

#remote-styles.hidden,
#load-remote-styles.hidden {
  display: none;
}

#remote-styles, #searchResults {
  max-width: 200px;
  overflow: hidden;
}

.searchResult {
  padding: 5px;
}
.searchResult:hover {
  background-color: rgba(50, 150, 255, 0.5);
}

.searchResult img {
  width: 50px;
  height: 40px;
}

.searchResult-title {
  font-weight: bold;
}

.searchResult-description {
  overflow: hidden;
  font-style: italic;
}

.searchResult > * {
  max-width: 108px;
  overflow-x: ellipsis;
  white-space: nowrap;
}

#searchResultsNav {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#searchResultsNav label {
  width: 20px;
  display: inline-block;
}

#searchResultsNav button {
  text-align: center;
  width: 10px;
}

#searchResultsNav-prev[disabled],
#searchResultsNav-next[disabled] {
  cursor: not-allowed;
  background-image: linear-gradient(rgba(90, 90, 90, 0.5), rgba(90, 90, 90, 0.5));
}
