body.search-results-shown {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #aaa;
}

#search-results {
  position: relative;
}

#search-results-error {
  background-color: rgba(255, 0, 0, 0.4);
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin: -.5rem 0 1rem;
}

#search-results-list {
  position: relative;
  min-height: 200px;
}

.search-result,
.search-result-empty {
  position: relative;
  padding: 8px 8px 24px;
  min-height: 160px;
}

.search-result {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .75);
  border-radius: 4px;
  border: 1px solid #555;
  margin-bottom: 24px;
  background-color: #eee;
}

.search-result:hover {
  border-color: #000;
  background-color: #fff;
}

.search-result .lds-spinner {
  transform: scale(.5);
  filter: invert(1) drop-shadow(1px 1px 3px #000);
}

.search-result-empty .lds-spinner {
  transform: scale(.5);
  filter: opacity(.2);
}

.search-result-fadein {
  animation: fadein 1s;
  animation-fill-mode: both;
}

.search-result-screenshot {
  height: 140px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.search-result-title {
  margin-bottom: .5em;
  display: block;
  color: #666;
  overflow-wrap: break-word;
}

.search-result-title span {
  font-size: 1.2em;
  font-weight: 600;
}

.search-result:hover .search-result-title {
  color: initial;
}

.search-result-info {
  position: relative;
}

.search-result-info > div {
  /* opacity: 0; */
  position: absolute;
  width: 100%;
  transition: opacity .25s ease-in-out;
}

.search-result:hover .actions {
  opacity: 1;
}

.search-result-overlay {
  bottom: -24px;
}

.search-result-info > .actions {
  bottom: 15px;
  text-align: center;
  z-index: 10;
  opacity: 0;
}

.search-result-info > .actions > button {
  background-color: #fff;
  box-shadow: 2px 2px 20px #000;
  white-space: nowrap;
}

.search-result-info > .actions > button:hover {
  background-color: #ccc;
}

.search-result-overlay > * {
  display: flex;
}

.search-result-author {
  max-width: 20%;
}

.search-result-author-link {
  color: inherit;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.search-result-description-group {
  align-items: center;
  padding: 0;
  font-size: 90%;
  line-height: 24px;
  min-height: 5px;
}

.search-result-description {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result-meta {
  background-color: hsla(0, 0%, 93%, 0.76);
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-result:hover .search-result-meta {
  background-color: hsla(0, 0%, 100%, 0.76);
}

.search-result-meta > * > :first-child {
  display: none;
  opacity: .75;
}

.search-result-meta-rating {
  text-align: center;
}

.search-result-meta-install-count {
  text-align: right;
}

.search-result-rating {
  font-weight: 600;
  padding: 1px 2px 1px 2px;
}

.search-result-rating.good {
  color: darkgreen;
}

.search-result-rating.okay {
  color: chocolate;
}

.search-result-rating.bad {
  color: darkred;
}

.search-result-rating.none {
}

.search-result-install-count {
  font-weight: 600;
}

.search-result-install, .search-result-customize, .search-result-uninstall {
  margin: 3px;
}

#search-results-nav-top,
#search-results-nav-bottom {
  flex-direction: row;
  text-align: center;
  word-break: keep-all;
}

#search-results-nav-top {
  padding-top: 4px;
  margin-bottom: 8px;
}

#search-results-nav-bottom {
  margin-top: -14px;
  margin-bottom: 16px;
}

#search-results-nav-top button,
#search-results-nav-bottom button {
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: .25rem 1rem;
  margin: 0 .5rem;
  color: #eee;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  font-size: 250%;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

#search-results-nav-top button:hover,
#search-results-nav-bottom button:hover {
  text-shadow: 0 1px 3px #000;
}

#find-styles-inline-group label {
  position: relative;
  padding-left: 16px;
}

/* spinner: https://github.com/loadingio/css-spinner */
.lds-spinner {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 200px; /* don't change! use "transform: scale(.75)" */
  height: 200px; /* don't change! use "transform: scale(.75)" */
  margin: auto;
  animation: lds-spinner 1s reverse;
  animation-fill-mode: both;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.lds-spinner div {
  left: 94px;
  top: 23px;
  position: absolute;
  animation: lds-spinner linear 1s infinite;
  animation-direction: reverse;
  background: currentColor;
  width: 12px;
  height: 34px;
  border-radius: 20%;
  transform-origin: 6px 77px;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.916666666666667s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.583333333333333s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.416666666666667s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.083333333333333s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
