#disable-all-wrapper {
  border-bottom: solid 1px #000;
  margin-bottom: 5px;
}

#searchResults,
#load-search-results {
  display: block;
}

#searchResults.hidden,
#load-search-results.hidden {
  display: none;
}

#searchResults, #searchResults-list {
  max-width: 200px;
  overflow: hidden;
}

.searchResult {
  padding: 5px;
}
.searchResult:hover {
  background-color: rgba(50, 150, 255, 0.5);
}

.searchResult img {
  display: block;
  max-width: 180px;
  max-height: 180px;
}

.searchResult-title {
  display: block;
  font-weight: bold;
}

.searchResult-description {
  overflow: hidden;
  font-style: italic;
}

.searchResult > * {
  overflow-x: hidden;
  white-space: nowrap;
}

#searchResultsNav {
  flex-direction: row;
  text-align: center;
  word-break: keep-all;
}

#searchResultsNav label {
  width: 40px;
  display: inline-block;
  word-break: keep-all;
}

#searchResultsNav button {
  text-align: center;
}

.searchResult-install {
  width: 100%;
}

#searchResultsNav-prev[disabled],
#searchResultsNav-next[disabled] {
  cursor: not-allowed;
  background-image: linear-gradient(rgba(90, 90, 90, 0.5), rgba(90, 90, 90, 0.5));
}
