/* config dialog */
.config-heading {
  float: right;
  margin: -1.25rem 0 0 0;
  font-size: 0.9em;
}

.config-body label {
  display: flex;
  padding: .75em 0;
  align-items: center;
}

.config-dialog .select-resizer {
  position: static;
}

.config-body label:first-child {
  padding-top: 0;
}

.config-body label:last-child {
  padding-bottom: 0;
}

.config-body label:not(:first-child) {
  border-top: 1px dotted #ccc;
}

.config-body label > :first-child {
  margin-right: 8px;
  flex-grow: 1;
}

.config-body label:not([disabled]) > :first-child {
  cursor: default;
}

.config-body label:not([disabled]):hover > :first-child {
  text-shadow: 0 0 0.01px rgba(0, 0, 0, .25);
  cursor: pointer;
}

.config-dialog .dirty:after {
  content: "*";
  position: absolute;
  left: 6px;
}

.config-dialog .dirty {
  font-style: italic;
}

.config-body input,
.config-body select,
.config-body .onoffswitch {
  width: var(--onoffswitch-width);
  margin: 0;
  height: 2em;
  box-sizing: border-box;
  vertical-align: middle;
}

.config-body .select-resizer,
.config-body select {
  width: auto;
  min-width: var(--onoffswitch-width);
  max-width: 124px;
  left: auto;
  position: relative;
}

.config-body .onoffswitch {
  height: auto;
  margin: calc((2em - 12px) / 2) 0;
}

.config-body input[type="text"] {
  padding-left: 0.25em;
}

.config-body label > :last-child {
  box-sizing: border-box;
  flex-shrink: 0;
}

.config-body label > :last-child:not(.onoffswitch):not(.select-resizer) > :not(:last-child) {
  margin-right: 4px;
}

#config-autosave-wrapper {
  position: relative;
  padding: 0 0 0 16px;
  display: inline-flex;
}

.cm-colorview::before,
.color-swatch {
  width: var(--onoffswitch-width) !important;
  height: 20px !important;
}

.cm-colorview::before {
  margin: 1px !important;
}

.color-swatch {
  position: absolute;
  border: 1px solid gray;
  margin-top: -22px;
  cursor: pointer;
}

.colorpicker-popup {
  z-index: 2147483647 !important;
  border: none !important;
  box-shadow: 3px 3px 50px rgba(0,0,0,.5) !important;
}
