:root {
  --name-padding-left: 20px;
  --name-width: 30ch;
  --size-width: 4ch;
  --action-size: 20px;
}
body {
  /* Fill the entire viewport to enable json import via drag'n'drop */
  display: flex;
  height: 100vh;
}

#header:lang(ja) h1 {
  font-weight: normal;
}

body.all-styles-hidden-by-filters::before,
body.all-styles-hidden-by-filters::after {
  position: absolute;
  left: calc(3rem + var(--header-width));
  color: hsla(180, 40%, 45%, .3);
  animation: fadein 3s;
}

body.all-styles-hidden-by-filters:before {
  content: "\2190"; /* left arrow */
  font-size: 3rem;
  top: 3.5rem;
}

body.all-styles-hidden-by-filters::after {
  content: var(--filteredStylesAllHidden);
  font-size: 1.5rem;
  position: absolute;
  top: 3rem;
}

a, .disabled a:hover {
  color: var(--fg);
  transition: color .5s;
}

a:hover {
  color: var(--c40);
}

#header {
  width: var(--header-width);
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 1rem;
  overflow: auto;
  box-sizing: border-box;
  z-index: 9;
}

#update-check,
#update-all {
  margin-bottom: .5rem;
}

#check-all-updates {
  max-width: calc(100% - 30px);
}

#check-all-updates-force {
  white-space: normal;
  text-align: left;
}

#header h1 {
  margin-top: 0;
  margin-bottom: .3em;
}

#header a[href^="edit"] {
  text-decoration: none;
  margin-right: 8px;
}
#header a:not(.icon) i {
  margin-left: .2em;
}
#add-style-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#add-style-wrapper > * {
  /* in case the children are wrapped */
  margin-bottom: .5rem;
}
#header #add-style-as-usercss-wrapper {
  display: flex;
  align-items: center;
}
#add-style-as-usercss-wrapper:not(:hover) input:not(:checked) ~ a i {
  color: var(--c65);
}
#newStyleAsUsercss + i {
  font-size: 16px;
  cursor: auto;
}
#newStyleAsUsercss:checked,
#newStyleAsUsercss:checked + i {
  border-color: var(--accent-1);
  color: var(--accent-1);
}
#newStyleAsUsercss:checked + i + a i {
  color: var(--accent-2);
  filter: grayscale(.75);
}

button.icon {
  --w: 16px;
  width: var(--w);
  box-sizing: content-box;
  margin-left: .2rem;
  position: relative;
}
button.icon::after {
  content: '\A0';
}
button.icon > i {
  position: absolute;
  font-size: var(--w);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: var(--w);
  height: var(--w);
}

#installed {
  padding-left: var(--header-width);
  box-sizing: border-box;
  width: 100%;
  align-self: start;
  display: flex;
  flex-wrap: wrap;
}

.entry {
  margin: 0;
  padding: 1.25em 2em;
  border-top: 1px solid var(--c85);
  box-sizing: border-box;
  position: relative;
  width: calc(100% / var(--columns, 1));
  contain-intrinsic-block-size: auto 10em;
  content-visibility: auto;
}

.entry:first-child {
  border-top: none;
}

.homepage {
  margin-left: 0.25em;
  margin-right: 0.1em;
}
.homepage[href=""] {
  display: none;
}

.style-name {
  margin-top: .25em;
  overflow-wrap: break-word;
}
.entry a:not(:hover) {
  text-decoration: none;
}
.style-name span,
.applies-to {
  overflow-wrap: anywhere;
}
.applies-to,
.actions {
  padding-left: 15px;
  margin-bottom: 0;
}

.oldUI .actions > * {
  margin: 0 .25rem .25rem 0;
}

.applies-to label {
  margin-right: .5ex;
}

.oldUI .applies-to .target:hover {
  background-color: rgba(128, 128, 128, .15);
}

.applies-to-extra:not([open]) {
  display: inline;
  margin-left: 1ex;
}

.applies-to-extra-expander {
  font-weight: bold;
  cursor: pointer;
}

.applies-to-extra-expander {
  list-style-type: none; /* for FF, allegedly */
}

.applies-to-extra-expander::-webkit-details-marker {
  display: none;
}

.oldUI .disabled h2::after,
.entry.usercss .style-name-link::after {
  font-size: 11px;
  border-radius: 4px;
  margin-left: 1ex;
  white-space: nowrap;
  content: "UC";
  background-color: hsla(180, 35%, 50%, .35);
  padding: 2px 3px;
  color: var(--fg);
}
.oldUI .disabled h2::after {
  content: var(--genericDisabledLabel);
  text-transform: lowercase;
  font-weight: normal;
  background: rgba(128, 128, 128, .2);
  padding: 2px 5px 3px;
  vertical-align: middle;
}
.oldUI .entry.usercss .style-name-link::after {
  content: "usercss";
  font-weight: normal;
  vertical-align: middle;
}

.disabled h2 .style-name-link,
.disabled .applies-to {
  color: var(--c60);
  font-weight: normal;
  transition: color .5s .1s;
}
.disabled.usercss .style-name-link::after {
  background-color: hsla(180, 35%, 50%, .2);
}

.disabled:hover .actions {
  opacity: 1;
}

.disabled .disable {
  display: none;
}

.enabled .enable {
  display: none;
}

/* collapsibles */
#add-style-wrapper {
  margin-bottom: 0;
}

#backup-buttons {
  display: flex;
  flex-wrap: wrap;
}

#backup-buttons > * {
  margin: 0 .2rem .5rem 0;
}

#header details:not([open]),
#header details:not([open]) h2 {
  padding-bottom: 0;
}

#header details[open] summary {
  padding-bottom: .5rem;
}

#header summary {
  margin-top: .25rem;
  align-items: center;
  margin-left: -13px;
  cursor: pointer;
}
#header #filters summary {
  margin-bottom: -2px;
}

#header #filters summary h2 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

#header summary h2 {
  display: inline;
  border-bottom: 1px dotted transparent;
  margin-top: .1em;
  margin-bottom: .1em;
}
#header summary:hover h2 {
  border-color: var(--c75);
}
#header summary h2 [data-cmd="note"] {vertical-align: text-bottom;}

/* compact layout */

/************ checkbox & select************/

.filter-selection {
  position: relative;
  left: -9px;
}

#header label {
  white-space: nowrap;
}

#header .filter-selection label {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 18px;
  padding: 0 0 0 8px;
}

.filter-selection select {
  height: 18px;
  border: none;
  max-width: 100%;
  padding-left: 4px;
  padding-right: 14px;
  background: none;
}

.filter-selection .select-wrapper::after {
  margin-top: 2px;
  top: 0;
  right: 0;
}

.filter-selection .select-wrapper {
  cursor: default;
  border: none;
  max-width: calc(100% - 2em);
  position: absolute;
  top: 0;
  left: 20px;
}

#filters :is(label, .filter-selection) {
  transition: background-color .25s;
}

#filters :is(label, .filter-selection):hover {
  background-color: hsla(0, 0%, 50%, .2);
}

#manage-text {
  display: flex;
  flex-wrap: wrap;
  padding-top: .35rem;
}
#manage-text > * {
  display: flex;
  align-items: center;
}
#manage-text > :not(:last-child):after {
  content: "|";
  margin: 0 .5em;
}

/* no styles */
.empty #installed {
  flex: 0;
}
.empty #manage-settings > :first-child {
  display: none;
}
#manage-text-empty {
  padding: 1.25rem 0 0 2rem;
  line-height: 2;
  font-size: larger;
}
#manage-text-empty > * {
  display: list-item;
}

button i {
  color: var(--fg);
}

/* Default, no update buttons */
.updater-icons :is(.update, .check-update) {
  display: none;
}

/* Check update button for things that can */
.updatable .check-update {
  display: inline-block;
}

/* Update check in progress */
.checking-update .check-update {
  display: none;
}

/* Updates available */
.can-update .update {
  display: inline-block;
}

.can-update[data-details$="locally edited"] button.update:after {
  content: "*";
}

.can-update .check-update {
  display: none;
}

/* Updates not available */
.no-update:not(.update-problem) .check-update {
  display: none;
}

/* Updates done */
.update-done .check-update {
  display: none;
}

#apply-all-updates:after {
  content: " (" attr(data-value) ")";
}

.update-in-progress #check-all-updates {
  position: relative;
}

.update-in-progress #update-progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  content: "";
  opacity: .35;
}

#check-all-updates-force {
  margin-top: 1ex;
}

#update-all-no-updates[data-skipped-edited="true"] {
  font-weight: bold;
}

#update-all-no-updates[data-skipped-edited="true"]::after {
  content: " " var(--updateAllCheckSucceededSomeEdited);
  font-weight: normal;
  display: block;
  margin: .75em 0 .5em;
}

/* highlight updated/added styles */
.highlight {
  animation: highlight 1s cubic-bezier(0, .4, .6, 1);
}
.highlight-quick {
  animation: highlight .5s;
}

@keyframes highlight {
  from {
    background-color: rgba(128, 128, 128, .5);
  }
  to {
    background-color: transparent;
  }
}

.hidden {
  display: none !important;
}

.active #filters-stats {
  background-color: darkcyan;
  border-color: darkcyan;
  color: white;
  font-size: 0.7rem;
  font-weight: normal;
  padding: 2px 5px;
  position: relative;
  white-space: nowrap;
}

.filter-stats-wrapper {
  display: flex;
  align-items: center;
  margin-left: .2rem;
}

#header #filters summary {
  white-space: nowrap;
}

#header #filters summary ::-webkit-details-marker {
  margin-top: 4px
}

#reset-filters i {
  color: var(--accent-2);
  padding: 2px;
}

#reset-filters:hover i {
  filter: brightness(1.2);
}

#filters summary:not(.active) :is(#reset-filters, #filters-stats) {
  display: none;
}

#search-wrapper, #sort-wrapper {
  display: flex;
  align-items: center;
}
#search-wrapper > :first-child,
#sort-wrapper > :first-child {
  flex-grow: 1;
}
#search-wrapper {
  margin-bottom: .5rem;
}
#search + * {
  margin-left: -1px;
}
#search-wrapper {
  margin-top: .35rem;
}
#manage\.searchMode {
  background: var(--bg);
}

#manage\.newUI\.sort {
  max-width: 100%;
}

#search, #manage\.newUI\.sort {
  min-width: 4em; /* reduces the big default width */
  background: var(--bg);
  height: 20px;
  box-sizing: border-box;
  padding: 3px 3px 3px 4px;
  color: var(--fg);
  border: 1px solid var(--c65);
}

#manage\.newUI\.sort {
  padding: 0 18px 0 4px;
  width: 100%;
}

#search-help, #sorter-help {
  margin: 0 -5px 0 2px;
}

#sort-wrapper .select-wrapper::after {
  top: 3px;
  right: 4px;
}

#message-box.help-text > div {
  max-width: 26rem;
}
.help-text li:not(:last-child) {
  margin-bottom: 1em;
}

.help-text mark {
  background-color: rgba(128, 128, 128, .15);
  color: currentColor;
  padding: 2px 6px;
  font-weight: bold;
  font-family: Consolas, monospace;
  border: 1px solid rgba(128, 128, 128, .25);
  display: inline-block;
  margin: 2px;
}

.help-text mark.last {
  display: block;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
}

/* drag-n-drop on import button */
.dropzone:after {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  padding: calc(50vh - 3em) calc(50vw - 5em);
  content: attr(dragndrop-hint);
  text-shadow: 1px 1px 10px black;
  font-size: xx-large;
  text-align: center;
  animation: fadein 1s cubic-bezier(.03, .67, .08, .94);
  animation-fill-mode: both;
}

.fadeout.dropzone:after {
  animation: fadeout .25s ease-in-out;
  animation-fill-mode: both;
}

/* post-import report */
#import details:not([data-id="invalid"]) div:hover {
  background-color: rgba(128, 128, 128, .3);
}

#import details:not(:last-child) {
  margin-bottom: 1em;
}

#import details small > * {
  margin-left: 1.5em;
}

#import details > button {
  margin: .5em 1.25em 0;
}

.update-history {
  font-size: 11px;
  white-space: pre;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#manage\.newUI\.sort {
  font-family: var(--family), icons; /* 'icons' is secondary so its metrics don't skew the text */
}

.stylus-options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 0;
  z-index: 2147483647;
  background-color: hsla(0, 0%, 0%, .45);
  animation: fadein .25s ease-in-out;
}

.stylus-options.fadeout {
  animation: fadeout .25s ease-in-out;
}

.settings-column {
  margin-top: 1rem;
}

@media (max-width: 850px) {
  body {
    display: block;
    height: auto;
  }

  body.all-styles-hidden-by-filters:before {
    content: "\2191"; /* up arrow */
    top: calc(50% + 2.75rem);
    left: 2rem;
  }

  body.all-styles-hidden-by-filters:after {
    top: calc(50% + 4rem);
    left: 3.75rem;
  }

  .oldUI .applies-to {
    word-break: break-all;
  }

  #search-wrapper,
  #sort-wrapper,
  #header summary {
    min-width: 10em;
    max-width: 50vw;
  }

  #message-box > div {
    left: 0;
    right: 0!important;
    margin-left: auto;
    margin-right: auto;
  }

  #header {
    height: auto;
    padding: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--c97);
    border-right: none;
    border-bottom: 1px dashed var(--c65);
  }

  #manage-settings {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 1rem;
  }

  #manage-settings > .settings-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  #installed {
    margin-top: 0;
    padding-left: 0;
  }

  #header h1 {
    display: none;
  }

  #header summary {
    margin-top: 0;
    padding-bottom: .25rem;
  }
}

@supports (-moz-appearance: none) {
  .chromium-only {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark), dark {
  .filter-selection select:not(:focus) {
    background-color: transparent;
  }
}
