:root {
  --header-width: 280px;
  --checkbox-width: 24px;
  --name-padding-left: 40px;
  --name-padding-right: 40px;
  --actions-width: 75px;
  --onoffswitch-width: 60px;
}

body {
  margin: 0;
  font: 12px arial, sans-serif;
  /* Firefox: fill the entire page for drag'n'drop to work */
  display: flex;
  height: 100%;
}

body.all-styles-hidden-by-filters:before,
body.all-styles-hidden-by-filters:after {
  position: absolute;
  left: calc(3rem + var(--header-width));
  color: hsla(180, 40%, 45%, .3);
  animation: fadein 3s;
}

body.all-styles-hidden-by-filters:before {
  content: "\2190"; /* left arrow */
  font-size: 3rem;
  top: 3.5rem;
}

body.all-styles-hidden-by-filters:after {
  font-size: 1.5rem;
  position: absolute;
  top: 3rem;
}

a, .disabled a:hover {
  color: #000;
  transition: color .5s;
  text-decoration-skip: ink;
}

a:hover {
  color: #666;
}

select {
  font-size: 12px;
}

.nowrap {
  white-space: nowrap;
}

.nowrap > * {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#header {
  width: var(--header-width);
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 15px;
  border-right: 1px dashed #AAA;
  -webkit-box-shadow: 0 0 50px -18px black;
  box-shadow: 0 0 50px -18px black;
  overflow: auto;
  box-sizing: border-box;
  z-index: 9;
}

#check-all-updates {
  max-width: 220px;
}

#header h1 {
  margin-top: 0;
  margin-bottom: .3em;
}

#header a[href^="edit"] {
  text-decoration: none;
  margin-right: 8px;
}

#add-style-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 1.5em;
}

#add-style-as-usercss-wrapper {
  display: inline-flex;
  margin-top: 3px;
}

#add-style-as-usercss-wrapper:not(:hover) input:not(:checked) ~ a svg {
  fill: #aaa;
}

#add-style-as-usercss-wrapper #usercss-wiki {
  position: absolute;
  right: -20px;
  top: -3px;
}

#installed {
  position: relative;
  padding-left: var(--header-width);
  box-sizing: border-box;
  width: 100%;
}

.entry {
  margin: 0;
  padding: 1.25em 2em;
  border-top: 1px solid #ddd;
}

.entry:first-child {
  border-top: none;
}

.svg-icon {
  cursor: pointer;
  vertical-align: middle;
  transition: fill .5s;
  width: 20px;
  height: 20px;
  fill: #666;
}

.svg-icon:hover {
  fill: #000;
}

.svg-icon.info {
  width: 14px;
  height: 16px;
  margin-left: .5ex;
}

.svg-icon.config {
  width: 16px;
  height: 16px;
}

.homepage {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.homepage[href=""] {
  display: none;
}

.homepage .svg-icon {
  margin-top: -4px;
  margin-left: .5ex;
}

.style-name {
  margin-top: .25em;
  overflow-wrap: break-word;
}

.style-name a, .style-edit-link {
  text-decoration: none;
}

.applies-to {
  overflow-wrap: break-word;
}

.applies-to,
.actions {
  padding-left: 15px;
  margin-bottom: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actions > * {
  margin-bottom: .25rem;
}

.actions > *:not(:last-child) {
  margin-right: .25rem;
}

.applies-to label {
  margin-right: .5ex;
}

.applies-to .target:hover {
  background-color: rgba(128, 128, 128, .15);
}

.applies-to-extra:not([open]) {
  display: inline;
  margin-left: 1ex;
}

.applies-to-extra-expander {
  font-weight: bold;
  cursor: pointer;
}

.applies-to-extra-expander {
  list-style-type: none; /* for FF, allegedly */
}

.applies-to-extra-expander::-webkit-details-marker {
  display: none;
}

.disabled h2::after, .entry.usercss .style-name-link::after {
  font-weight: normal;
  font-size: 11px;
  text-transform: lowercase;
  background: rgba(128, 128, 128, .2);
  padding: 2px 5px 3px;
  border-radius: 4px;
  margin-left: 1ex;
}

.entry.usercss .style-name-link::after {
  content: "usercss";
  background-color: hsla(180, 100%, 20%, 1);
  color: white;
}

.disabled h2 .style-name-link,
.disabled h2::after,
.disabled .actions,
.disabled .applies-to {
  opacity: 0.6;
  font-weight: normal;
  transition: opacity .5s .1s;
}

.disabled:hover .actions {
  opacity: 1;
}

.disabled .disable {
  display: none;
}

.enabled .enable {
  display: none;
}

/* collapsibles */
#header details:not(#filters) {
  padding-bottom: .7em;
}

#add-style-wrapper,
#options :last-child,
#backup :last-child {
  margin-bottom: 0;
}

#header details:not([open]),
#header details:not([open]) h2 {
  padding-bottom: 0;
}

#header details[open] summary {
  padding-bottom: .5em;
}

#header summary {
  align-items: center;
  margin-left: -13px;
  cursor: pointer;
}

#header summary h2 {
  display: inline-block;
  border-bottom: 1px dotted transparent;
  margin-top: .1em;
  margin-bottom: .1em;
}

#header summary:hover h2 {
  border-color: #bbb;
}

/* compact layout */

.newUI #installed {
  display: table;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.newUI .disabled {
  opacity: 1;
}

.newUI .entry {
  display: table-row;
}

.newUI .entry:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.05);
}

.newUI .entry > * {
  padding: .9rem 0 1rem;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
/************ checkbox & select************/

.newUI .checker {
  margin: 0;
}

#newUIoptions > div {
  margin: 4px 0;
}

.filter-selection {
  position: relative;
  left: -9px;
}

#header label {
  padding-left: 16px;
  position: relative;
}

#header .filter-selection label {
  display: flex;
  align-items: center;
  height: 18px;
  width: 100%;
  padding: 0 0 0 4px;
}

#header .filter-selection label .checkmate {
  vertical-align: middle;
  margin-top: -2px;
}

.newUI #newUIoptions > label {
  padding-left: 0;
}

.filter-selection select {
  height: 18px;
  border: none;
  max-width: 100%;
  padding-left: 4px;
  padding-right: 14px;
  margin-left: 4px;
}

.filter-selection .select-arrow {
  margin-top: 2px;
  top: 0;
  right: 0;
}

.select-resizer {
  cursor: default;
  border: none;
  max-width: calc(100% - 2em);
  position: absolute;
  top: 0;
  left: 16px;
}

#filters label,
#filters .filter-selection {
  transition: background-color .25s;
}

#filters label:hover,
#filters .filter-selection:hover {
  background-color: hsla(0, 0%, 50%, .2);
}

#only-updates {
  position: relative;
  left: -5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.checkmate {
  position: relative;
  height: 12px;
  width: 12px;
  display: inline-flex;
}

.entry .checkmate {
  vertical-align: middle;
  margin: -2px 1ex 0 0;
}

.newUI .entry .svg-icon.checked,
.newUI .entry:hover .svg-icon.checked {
  fill: #000;
}

.newUI .entry input[type="checkbox"]:not(.slider) {
  pointer-events: all;
}

.newUI .style-name {
  font-size: 14px;
  font-family: sans-serif;
  text-indent: calc(var(--checkbox-width) - var(--name-padding-left) - 4px);
  padding-left: var(--name-padding-left);
  padding-right: var(--name-padding-right);
  position: relative;
  cursor: pointer;
}

.newUI .entry .style-name:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, hsla(180, 50%, 30%, 0.2), hsla(180, 20%, 10%, 0.05) 50%, transparent);
  pointer-events: none;
}

.newUI .entry.enabled .style-name:hover .style-name-link {
  color: hsla(180, 100%, 15%, 1);
}

.newUI .homepage .svg-icon {
  position: absolute;
  margin-top: 0;
  margin-left: -28px;
}

.newUI .actions {
  width: var(--actions-width);
  height: 20px;
  white-space: nowrap;
}

.newUI .actions > * {
  margin: 0;
}

.newUI .actions .svg-icon {
    margin-right: 8px;
}

.newUI .updater-icons > * {
  transition: opacity 1s;
  display: none;
}

.newUI .entry .svg-icon {
  fill: #999;
}

.newUI .entry:hover .svg-icon {
  fill: #666;
}

.newUI .entry:hover .svg-icon:hover {
  fill: #000;
}

.newUI .checking-update .check-update {
  opacity: 0;
  display: inline;
  pointer-events: none;
}

.newUI .can-update .update,
.newUI .no-update:not(.update-problem):not(.update-done) .up-to-date,
.newUI .no-update.update-problem .check-update,
.newUI .update-done .updated {
  display: inline;
}

.newUI .up-to-date svg,
.newUI .updated svg {
  cursor: auto;
}

.newUI .update-done .updated svg {
  top: -4px;
  position: relative;
  /* unprefixed since Chrome 53 */
  -webkit-filter: drop-shadow(0 4px 0 currentColor);
  filter: drop-shadow(0 5px 0 currentColor);
}

.newUI .can-update .update,
.newUI .no-update.update-problem .check-update {
  cursor: pointer;
}

.newUI .can-update[data-details$="locally edited"] .update svg,
.newUI .update-problem .check-update svg {
  fill: #ef6969;
}

.newUI .can-update[data-details$="locally edited"]:hover .update svg,
.newUI .entry.update-problem:hover .check-update svg {
  fill: #fd4040;
}

.newUI .can-update[data-details$="locally edited"]:hover .update svg:hover,
.newUI .entry.update-problem:hover .check-update svg:hover {
  fill: red;
}

.newUI .updater-icons > :not(.check-update):after {
  content: attr(title);
  position: absolute;
  margin-top: 18px;
  margin-left: -36px;
  padding: 1ex 1.5ex;
  border: 1px solid #ded597;
  background-color: #fffbd6;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0,0,0,.25);
  font-size: 90%;
  animation: fadeout 10s;
  animation-fill-mode: both;
  z-index: 999;
}

.newUI .update-problem .check-update:after {
  background-color: red;
  border: 1px solid #d40000;
  color: white;
  animation: none;
}

.newUI .can-update .update:after {
  animation: none;
}

.newUI .can-update:not([data-details$="locally edited"]) .update:after {
  background-color: #c0fff0;
  border: 1px solid #89cac9;
}

.newUI .applies-to {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.newUI .targets {
  overflow: hidden;
}

.newUI .applies-to.expanded .targets {
  max-height: none;
}

.newUI .target {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100vw - var(--header-width) - var(--actions-width) - var(--name-padding-left) - 25vw - var(--name-padding-right));
  box-sizing: border-box;
  padding-right: 1rem;
  line-height: 18px;
}

.newUI .applies-to .expander {
  margin: 0;
  cursor: pointer;
  font-size: 3ex;
  line-height: .5ex;
  vertical-align: super;
  letter-spacing: .1ex;
}

.newUI .applies-to:not(.has-more) .expander {
  display: none;
}

.newUI .has-favicons .applies-to .expander {
  padding-left: 20px;
}

.newUI .target:hover {
  background-color: inherit;
}

.newUI .target img {
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin-left: -20px;
  margin-right: 4px;
  transition: opacity .5s, filter .5s;
  /* unprefixed since Chrome 53 */
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  /* workaround for the buggy CSS filter: images in the hidden overflow are shown on Mac */
  backface-visibility: hidden;
  opacity: .25;
  display: none;
}

.newUI .has-favicons .target {
  padding-left: 20px;
}

.newUI .has-favicons .target img[src] {
  display: inline;
}

.newUI .entry:hover .target img {
  opacity: 1;
  /* unprefixed since Chrome 53 */
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#newUIoptions {
  display: none;
}

.newUI #newUIoptions {
  display: initial;
}

#newUIoptions > * {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  flex-wrap: wrap;
  position: relative;
}

#newUIoptions input[type="number"] {
  width: 3em;
  margin-right: .5em;
}

#newUIoptions [data-toggle-on-click] {
  transform: rotate(-90deg);
  cursor: pointer;
  right: -16px;
  top: 0;
  pointer-events: auto;
}

#newUIoptions [data-toggle-on-click][open] {
  transform: none;
}

input[id^="manage.newUI"] {
  margin-left: 0;
}

#faviconsHelp {
  overflow-y: auto;
  font-size: 90%;
  padding: 1ex 0 2ex 16px;
}

#faviconsHelp div {
    display: flex;
    align-items: center;
    margin-top: 1ex;
}

/* Default, no update buttons */
.update,
.check-update {
  display: none;
}

/* Check update button for things that can*/
.updatable .check-update {
  display: inline;
}

/* Update check in progress */
.checking-update .check-update {
  display: none;
}

/* Updates available */
.can-update .update {
  display: inline;
}

.can-update[data-details$="locally edited"] button.update:after {
  content: "*";
}

.can-update .check-update {
  display: none;
}

/* Updates not available */
.no-update:not(.update-problem) .check-update {
  display: none;
}

/* Updates done */
.update-done .check-update {
  display: none;
}

#apply-all-updates:after {
  content: " (" attr(data-value) ")";
}

.update-in-progress #check-all-updates {
  position: relative;
}

.update-in-progress #update-progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  content: "";
  opacity: .35;
}

#check-all-updates-force {
  margin-top: 1ex;
}

/* highlight updated/added styles */
.highlight {
  animation: highlight 10s cubic-bezier(0,.82,.47,.98);
}
.highlight-quick {
  animation: highlight .5s;
}

@keyframes highlight {
  from {
    background-color: rgba(128, 128, 128, .5);
  }
  to {
    background-color: none;
  }
}

.hidden {
  display: none !important;
}

#filters label {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#filters label input[type="checkbox"]:not(.slider),
#filters label input[type="checkbox"]:not(.slider):checked + .svg-icon.checked{
  left: 4px;
}

#filters {
  border: 1px solid transparent;
}

#filters summary h2 {
  margin-left: -4px;
}

.active #filters-stats {
  background-color: darkcyan;
  border-color: darkcyan;
  color: white;
  font-size: 0.7rem;
  font-weight: normal;
  padding: 2px 5px;
  position: relative;
  top: -2px;
}

#reset-filters {
  position: absolute;
  margin-top: 2px;
  fill: hsla(180, 50%, 27%, .5);
  width: 24px; /* widen the click area a bit */
  height: 20px;
  padding: 2px;
  box-sizing: border-box;
}

#reset-filters:hover {
  fill: hsla(180, 50%, 27%, 1);
}

#filters summary:not(.active) #reset-filters,
#filters summary:not(.active) #filters-stats {
  display: none;
}

#search-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#search {
  flex-grow: 1;
  margin: 0.25rem 0 0;
  background: #fff;
  height: 20px;
  box-sizing: border-box;
  padding: 3px 3px 3px 4px;
  font: 400 12px Arial;
  color: #000;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.25rem;
}

#search-wrapper .info {
  margin: 4px -5px 0 8px;
}

#message-box.help-text > div {
  max-width: 26rem;
}
.help-text li:not(:last-child) {
  margin-bottom: 1em;
}

.help-text mark {
  background-color: rgba(128, 128, 128, .15);
  color: currentColor;
  padding: 2px 6px;
  font-weight: bold;
  font-family: monospace;
  border: 1px solid rgba(128, 128, 128, .25);
  display: inline-block;
  margin: 2px;
}

.help-text mark.last {
  display: block;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
}

#import ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#import li {
  margin-bottom: .5em;
}

#import pre {
  background: #eee;
  overflow: auto;
  margin: 0 0 .5em 0;
}

/* drag-n-drop on import button */
.dropzone:after {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  padding: calc(50vh - 3em) calc(50vw - 5em);
  content: attr(dragndrop-hint);
  text-shadow: 1px 1px 10px black;
  font-size: xx-large;
  text-align: center;
  animation: fadein 1s cubic-bezier(.03, .67, .08, .94);
  animation-fill-mode: both;
}

.fadeout.dropzone:after {
  animation: fadeout .25s ease-in-out;
  animation-fill-mode: both;
}

/* post-import report */
#message-box details:not([data-id="invalid"]) div:hover {
  background-color: rgba(128, 128, 128, .3);
}

#message-box details:not(:last-child) {
    margin-bottom: 1em;
}

#message-box details small div {
    margin-left: 1.5em;
}

.update-history-log {
  font-size: 11px;
  white-space: pre;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein-25pct {
  from {
    opacity: 0;
  }
  to {
    opacity: .25;
  }
}

@media (max-width: 675px) {
  #installed {
    position: static;
    padding-left: 0;
    overflow: visible;
  }

  #header p,
  #backup {
    display: inline-block;
  }

  #find-editor-styles {
    display: inline-block;
  }

  #backup {
    margin-right: 1em;
  }

  #backup p {
    margin: 0;
  }

  .entry {
    margin: 0;
  }
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }

  body.all-styles-hidden-by-filters:before {
    content: "\2191"; /* up arrow */
    top: calc(50% + 2.75rem);
    left: 2rem;
  }

  body.all-styles-hidden-by-filters:after {
    top: calc(50% + 4rem);
    left: 3.75rem;
  }

  #header {
    height: auto;
    position: static;
    width: auto;
    border-right: none;
    border-bottom: 1px dashed #AAA;
    overflow: visible;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  #installed {
    padding-left: 0;
  }

  #header h1,
  #header h2,
  #header h3,
  #backup-message {
    display: none;
  }

  .newUI .entry {
    margin: 0;
  }

  .newUI .style-name {
    width: 50%;
  }

  .newUI .target {
    max-width: calc(50vw - var(--actions-width));
  }
}

@media (max-width: 500px) {
  #header {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .newUI #header > *:not(h1),
  .newUI #newUIoptions,
  #newUIoptions > * {
    display: inline;
  }

  #header label {
    white-space: nowrap;
  }

  .newUI .style-name {
    word-break: break-all;
  }
}

@supports (-moz-appearance: none) {
  .chromium-only {
    display: none;
  }

  #header .filter-selection label .checkmate {
    margin: 0;
  }

  .filter-selection select {
    padding-left: 0;
  }

  .select-resizer {
    left: 16px;
  }

  #reset-filters {
    margin-top: 4px;
  }

  #filters summary h2 {
    margin-left: -2px;
  }
}
